In [1]:
import pandas as pd
import pymysql
pymysql.install_as_MySQLdb()
import MySQLdb
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker
import warnings     
warnings.filterwarnings(action='ignore')

In [2]:
#1. mysqldb 접속객체 세팅(연결하기)
connect_datas = {
    'host': '13.209.195.153',
    'user': 'root',
    'passwd': 'dss',
    'db': 'Crawling',
    'charset': 'utf8'
}
db = MySQLdb.connect(**connect_datas)
db

In [3]:
#2. 주가데이터 csv파일 불러오기
stock = pd.read_csv('./Project/crawling-repo-5/sp500_210623.csv')
stock = stock.drop(columns='Founded.1')
stock

,no,Symbol,Name,Sector,Industry,Founded,Date first added,Headquarters Location,Close,Open,High,Low,Volume,Change
0,0,MMM,3M,Industrials,Industrial Conglomerates,1902,1976.8.9,"St. Paul, Minnesota",195.14,195.04,196.03,194.13,1770000.0,-0.0004
1,1,ABT,Abbott Laboratories,Health Care,Health Care Equipment,1888,1964.3.31,"North Chicago, Illinois",110.96,111.53,111.90,110.74,6520000.0,-0.0043
2,2,ABBV,AbbVie,Health Care,Pharmaceuticals,2013,2012.12.31,"North Chicago, Illinois",114.70,114.61,115.26,113.89,4360000.0,-0.0003
3,3,ABMD,Abiomed,Health Care,Health Care Equipment,1981,2018.5.31,"Danvers, Massachusetts",327.19,325.16,328.15,324.16,193020.0,0.0065
4,4,ACN,Accenture,Information Technology,IT Consulting & Other Services,1989,2011.7.6,"Dublin, Ireland",285.66,285.70,286.60,283.78,2020000.0,0.0004
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
500,500,YUM,Yum! Brands,Consumer Discretionary,Restaurants,1997,1997.10.6,"Louisville, Kentucky",117.50,116.70,117.66,116.44,1290000.0,0.0063
501,501,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments,1969,2019.12.23,"Lincolnshire, Illinois",506.44,501.89,507.00,498.92,239130.0,0.0046
502,502,ZBH,Zimmer Biomet,Health Care,Health Care Equipment,1927,2001.8.7,"Warsaw, Indiana",166.38,163.56,167.15,162.94,2080000.0,0.0177
503,503,ZION,Zions Bancorp,Financials,Regional Banks,1873,2001.6.22,"Salt Lake City, Utah",52.82,52.74,53.13,51.67,1250000.0,0.0027
504,504,ZTS,Zoetis,Health Care,Pharmaceuticals,1952,2013.6.21,"Parsippany, New Jersey",186.62,186.37,186.93,185.94,1420000.0,0.0001

In [4]:
stock.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 505 entries, 0 to 504
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   no                     505 non-null    int64
 1   Symbol                 505 non-null    object
 2   Name                   505 non-null    object
 3   Sector                 505 non-null    object
 4   Industry               505 non-null    object
 5   Founded                504 non-null    object
 6   Date first added       504 non-null    object
 7   Headquarters Location  504 non-null    object
 8   Close                  504 non-null    float64
 9   Open                   504 non-null    float64
 10  High                   504 non-null    float64
 11  Low                    504 non-null    float64
 12  Volume                 504 non-null    float64
 13  Change                 504 non-null    float64
dtypes: float64(6), int64(1), object(7)
memory usage: 55.4+ KB

In [ ]:
# # # 데이터 전처리

# # # 컬럼명 db에 맞게 변경하기
# # stock.rename(columns={'ISU_SRT_CD':'Code','ISU_ABBRV':'Name','MKT_NM':'Market','SECT_TP_NM':'Depart',
# #                       'TDD_CLSPRC':'Close','FLUC_TP_CD':'Changecode','CMPPREVDD_PRC':'Changes','FLUC_RT':'ChangesRatio',
# #                      'TDD_OPNPRC':'Open','TDD_HGPRC':'High','TDD_LWPRC':'Low','ACC_TRDVOL':'Volume','ACC_TRDVAL':'Amount',
# #                       'MKTCAP':'Total','LIST_SHRS':'Stocks','MKT_ID':'MK_code','DATE':'Date'
# #                      }, inplace=True)

# # 수치형데이터로 변환할 컬럼 , 제거
# stock['Close'] = stock['Close'].str.replace(',','')
# stock['Open'] = stock['Open'].str.replace(',','')
# stock['High'] = stock['High'].str.replace(',','')
# stock['Low'] = stock['Low'].str.replace(',','')
# stock['Volume'] = stock['Volume'].str.replace(',','')
# stock['Amount'] = stock['Amount'].str.replace(',','')
# stock['Changes'] = stock['Changes'].str.replace(',','')
# stock['Total'] = stock['Total'].str.replace(',','')
# stock['Stocks'] = stock['Stocks'].str.replace(',','')
# # NAN값 변경
# stock = stock.fillna("nodata")

In [4]:
# MYsqldb로 테이블 생성하기
QUERY = """
    CREATE TABLE stock_price (
    Symbol Varchar(30) NOT NULL,
    Name Varchar(30) NOT NULL,
    Sector Varchar(30) NOT NULL,
    Industry Varchar(50),
    Founded Varchar(50) NOT NULL,
    Date first added Varchar(30),
    Headquarters Location Varchar(50),
    Close INT NOT NULL,
    Open INT NOT NULL,
    High INT NOT NULL,
    Low INT NOT NULL,
    Volume INT NOT NULL,
    Change INT NOT NULL,
    )
"""
# cursor객체 생성후 쿼리 실행
curs = db.cursor()
curs.execute(QUERY)

ProgrammingError: (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'first added Varchar(30),\n    Headquarters Location Varchar(50),\n    Close INT NO' at line 7")

In [5]:
#3. sqlalchemy 클라이언트 설정
client = create_engine('mysql://root:dss@13.209.195.153/Crawling',encoding="utf-8")
conn = client.connect()

In [6]:
#4. csv파일 db에 담기
stock.to_sql(name='stock_price',con=client, if_exists='append',index=False)
conn.close()

In [7]:
# #1. mysqldb table 삭제

# conn = pymysql.connect(host='13.209.195.153', user='root', password='dss', db='Crawling', charset='utf8') 
# cursor = conn.cursor() 

# QUERY = '''
# DROP TABLE test
# ''' 

# cursor.execute(QUERY) 

# conn.commit() 
# conn.close()

In [ ]:
conn = mysql.connector.connect (user='user', password='password',
                               host='server_address',buffered=True)
cursor = conn.cursor()
databases = ("show databases")
cursor.execute(databases)
for (databases) in cursor:
     print databases[0]