In [19]:
import pandas as pd
import pymysql
pymysql.install_as_MySQLdb()
import MySQLdb
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker
import warnings     
warnings.filterwarnings(action='ignore')

In [20]:
#1. mysqldb 접속객체 세팅(연결하기)
connect_datas = {
    'host': 'localhost',
    'user': 'root',
    'passwd': 'dss17',
    'db': 'crawling_proj',
    'charset': 'utf8'
}
db = MySQLdb.connect(**connect_datas)
db

In [50]:
#2. 주가데이터 csv파일 불러오기
main = pd.read_csv('../datas/investing_query.csv')
investing_cr1 = pd.read_csv('../datas/crawling_investing.csv')
investing_cr2 = pd.read_csv('../datas/crawling_investing2.csv')

In [55]:
# # MYsqldb로 테이블 생성하기
sql = '''CREATE TABLE main ( 
symbol varchar(5) NOT NULL PRIMARY KEY, 
query varchar(40), 
update_date date
) 
''' 
# # cursor객체 생성후 쿼리 실행
curs = db.cursor()
curs.execute(sql)

0

In [49]:
# # MYsqldb로 테이블 생성하기
sql = '''CREATE TABLE company_low ( 
symbol varchar(5), 
sales int(13), 
shared float,
update_date date,
profit int(5),
operating int(5),
real_profit int(5)
) 
''' 
# # cursor객체 생성후 쿼리 실행
curs = db.cursor()
curs.execute(sql)

0

In [43]:
investing_cr2

        update_date    sales  profit  operating  real_profit
symbol
MMM        210331.0   8851.0  4327.0     1983.0       1624.0
MMM        201231.0   8583.0  4246.0     1839.0       1389.0
MMM        200930.0   8350.0  4047.0     1909.0       1413.0
MMM             NaN      NaN     NaN        NaN          NaN
ABT        210331.0  10456.0  6056.0     2109.0       1793.0
...             ...      ...     ...        ...          ...
ZION       200630.0    712.0     NaN        NaN         66.0
ZTS        210331.0   1871.0  1328.0      687.0        559.0
ZTS        201231.0   1807.0  1209.0      420.0        359.0
ZTS        200930.0   1786.0  1243.0      597.0        479.0
ZTS        200630.0   1548.0  1102.0      482.0        377.0

[2020 rows x 5 columns]

In [31]:
# # MYsqldb로 테이블 생성하기
sql = '''CREATE TABLE main ( 
symbol varchar(5) NOT NULL PRIMARY KEY, 
query varchar(20), 
update_date date
) 
''' 
# # cursor객체 생성후 쿼리 실행
curs = db.cursor()
curs.execute(sql)

0

In [51]:
#3. sqlalchemy 클라이언트 설정
client = create_engine('mysql://root:dss17@localhost/crawling_proj?charset=utf8',encoding="utf-8")
conn = client.connect()

In [94]:
#4. csv파일 db에 담기
main.loc[71:].to_sql(name='main',con=client,if_exists='append',index=False)
conn.close()

In [93]:
main['update_date'][481] = 210701

In [92]:
main.loc[481]['update_date']

210631.0