In [245]:
querys = pd.read_csv('../datas/investing_query.csv')

In [260]:
datetime.datetime()

TypeError: an integer is required (got type str)

In [265]:
today

210802

In [267]:
update_date = querys.values[0][2].split(' ')[0]
update_date = int(update_date.split('-')[0]) * 10000 + int(update_date.split('-')[1]) * 100 + int(update_date.split('-')[2])

update_date

20211026

In [258]:
import datetime

In [239]:
querys.drop(querys[querys['symbol']=='OGN'].index[0], inplace=True)

In [242]:
querys.to_csv('../datas/investing_query.csv', index=False)

In [201]:
import pymysql
pymysql.install_as_MySQLdb()
import MySQLdb
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker
import warnings     
warnings.filterwarnings(action='ignore')    
import user

In [232]:
querys['symbol'].values

array(['MMM', 'ABT', 'ABBV', 'ABMD', 'ACN', 'ATVI', 'ADBE', 'AMD', 'AAP',
       'AES', 'AFL', 'A', 'APD', 'AKAM', 'ALK', 'ALB', 'ARE', 'ALXN',
       'ALGN', 'ALLE', 'LNT', 'ALL', 'GOOGL', 'GOOG', 'MO', 'AMZN',
       'AMCR', 'AEE', 'AAL', 'AEP', 'AXP', 'AIG', 'AMT', 'AWK', 'AMP',
       'ABC', 'AME', 'AMGN', 'APH', 'ADI', 'ANSS', 'ANTM', 'AON', 'AOS',
       'APA', 'AAPL', 'AMAT', 'APTV', 'ADM', 'ANET', 'AJG', 'AIZ', 'T',
       'ATO', 'ADSK', 'ADP', 'AZO', 'AVB', 'AVY', 'BKR', 'BLL', 'BAC',
       'BK', 'BAX', 'BDX', 'BRKB', 'BBY', 'BIO', 'BIIB', 'BLK', 'BA',
       'BKNG', 'BWA', 'BXP', 'BSX', 'BMY', 'AVGO', 'BR', 'BFB', 'CHRW',
       'COG', 'CDNS', 'CZR', 'CPB', 'COF', 'CAH', 'KMX', 'CCL', 'CARR',
       'CTLT', 'CAT', 'CBOE', 'CBRE', 'CDW', 'CE', 'CNC', 'CNP', 'CERN',
       'CF', 'CRL', 'SCHW', 'CHTR', 'CVX', 'CMG', 'CB', 'CHD', 'CI',
       'CINF', 'CTAS', 'CSCO', 'C', 'CFG', 'CTXS', 'CLX', 'CME', 'CMS',
       'KO', 'CTSH', 'CL', 'CMCSA', 'CMA', 'CAG', 'COP', 'ED', 'STZ',
       'COO', 'CPRT', 'GLW', 'CTVA', 'COST', 'CCI', 'CSX', 'CMI', 'CVS',
       'DHI', 'DHR', 'DRI', 'DVA', 'DE', 'DAL', 'XRAY', 'DVN', 'DXCM',
       'FANG', 'DLR', 'DFS', 'DISCA', 'DISCK', 'DISH', 'DG', 'DLTR', 'D',
       'DPZ', 'DOV', 'DOW', 'DTE', 'DUK', 'DRE', 'DD', 'DXC', 'EMN',
       'ETN', 'EBAY', 'ECL', 'EIX', 'EW', 'EA', 'EMR', 'ENPH', 'ETR',
       'EOG', 'EFX', 'EQIX', 'EQR', 'ESS', 'EL', 'ETSY', 'EVRG', 'ES',
       'RE', 'EXC', 'EXPE', 'EXPD', 'EXR', 'XOM', 'FFIV', 'FB', 'FAST',
       'FRT', 'FDX', 'FIS', 'FITB', 'FE', 'FRC', 'FISV', 'FLT', 'FMC',
       'F', 'FTNT', 'FTV', 'FBHS', 'FOXA', 'FOX', 'BEN', 'FCX', 'GPS',
       'GRMN', 'IT', 'GNRC', 'GD', 'GE', 'GIS', 'GM', 'GPC', 'GILD', 'GL',
       'GPN', 'GS', 'GWW', 'HAL', 'HBI', 'HIG', 'HAS', 'HCA', 'PEAK',
       'HSIC', 'HSY', 'HES', 'HPE', 'HLT', 'OGN', 'HOLX', 'HD', 'HON',
       'HRL', 'HST', 'HWM', 'HPQ', 'HUM', 'HBAN', 'HII', 'IEX', 'IDXX',
       'INFO', 'ITW', 'ILMN', 'INCY', 'IR', 'INTC', 'ICE', 'IBM', 'IP',
       'IPG', 'IFF', 'INTU', 'ISRG', 'IVZ', 'IPGP', 'IQV', 'IRM', 'JKHY',
       'J', 'JBHT', 'SJM', 'JNJ', 'JCI', 'JPM', 'JNPR', 'KSU', 'K', 'KEY',
       'KEYS', 'KMB', 'KIM', 'KMI', 'KLAC', 'KHC', 'KR', 'LB', 'LHX',
       'LH', 'LRCX', 'LW', 'LVS', 'LEG', 'LDOS', 'LEN', 'LLY', 'LNC',
       'LIN', 'LYV', 'LKQ', 'LMT', 'L', 'LOW', 'LUMN', 'LYB', 'MTB',
       'MRO', 'MPC', 'MKTX', 'MAR', 'MMC', 'MLM', 'MAS', 'MA', 'MKC',
       'MXIM', 'MCD', 'MCK', 'MDT', 'MRK', 'MET', 'MTD', 'MGM', 'MCHP',
       'MU', 'MSFT', 'MAA', 'MHK', 'TAP', 'MDLZ', 'MPWR', 'MNST', 'MCO',
       'MS', 'MOS', 'MSI', 'MSCI', 'NDAQ', 'NTAP', 'NFLX', 'NWL', 'NEM',
       'NWSA', 'NWS', 'NEE', 'NLSN', 'NKE', 'NI', 'NSC', 'NTRS', 'NOC',
       'NLOK', 'NCLH', 'NOV', 'NRG', 'NUE', 'NVDA', 'NVR', 'NXPI', 'ORLY',
       'OXY', 'ODFL', 'OMC', 'OKE', 'ORCL', 'OTIS', 'PCAR', 'PKG', 'PH',
       'PAYX', 'PAYC', 'PYPL', 'PENN', 'PNR', 'PBCT', 'PEP', 'PKI',
       'PRGO', 'PFE', 'PM', 'PSX', 'PNW', 'PXD', 'PNC', 'POOL', 'PPG',
       'PPL', 'PFG', 'PG', 'PGR', 'PLD', 'PRU', 'PTC', 'PEG', 'PSA',
       'PHM', 'PVH', 'QRVO', 'PWR', 'QCOM', 'DGX', 'RL', 'RJF', 'RTX',
       'O', 'REG', 'REGN', 'RF', 'RSG', 'RMD', 'RHI', 'ROK', 'ROL', 'ROP',
       'ROST', 'RCL', 'SPGI', 'CRM', 'SBAC', 'SLB', 'STX', 'SEE', 'SRE',
       'NOW', 'SHW', 'SPG', 'SWKS', 'SNA', 'SO', 'LUV', 'SWK', 'SBUX',
       'STT', 'STE', 'SYK', 'SIVB', 'SYF', 'SNPS', 'SYY', 'TMUS', 'TROW',
       'TTWO', 'TPR', 'TGT', 'TEL', 'TDY', 'TFX', 'TER', 'TSLA', 'TXN',
       'TXT', 'TMO', 'TJX', 'TSCO', 'TT', 'TDG', 'TRV', 'TRMB', 'TFC',
       'TWTR', 'TYL', 'TSN', 'UDR', 'ULTA', 'USB', 'UAA', 'UA', 'UNP',
       'UAL', 'UNH', 'UPS', 'URI', 'UHS', 'UNM', 'VLO', 'VTR', 'VRSN',
       'VRSK', 'VZ', 'VRTX', 'VFC', 'VIAC', 'VTRS', 'V', 'VNO', 'VMC',
       'WRB', 'WAB', 'WMT', 'WBA', 'DIS', 'WM', 'WAT', 'WEC', 'WFC',
       'WELL', 'WST', 'WDC', 'WU', 'WRK', 'WY', 'WHR', 'WMB', 'WLTW',
       'WYNN', 'XEL', 'XLNX', 'XYL', 'YUM', 'ZBRA', 'ZBH', 'ZION', 'ZTS'],
      dtype=object)

In [189]:
querys = pd.read_csv('../datas/investing_query.csv')

investing = pd.read_csv
today = datetime.now().year % 100 * 10000 + \
    datetime.now().month * 100 + datetime.now().day
df = []
crawling_investings = []
a = 0
for row in querys.values:
    symbol = row[0]
    query = row[1]
    update_date = row[2]
    [sales, shared, update_date]  = crawling_investing(query)
    time.sleep(0.5)
    dfs1, dfs2, dfs3, dfs4 = crawling_investing2(query)
    #dfs1 = crawling_investing2(query)
    for k in [sales, shared, update_date]:
        dfs1.append(k)
        dfs2.append(k)
        dfs3.append(k)
        dfs4.append(k)
    crawling_investings.append(dfs1)
    crawling_investings.append(dfs2)
    crawling_investings.append(dfs3)
    crawling_investings.append(dfs4)
    querys['update_date'][querys['symbol'] == symbol] = update_date

In [190]:
crawling_investings

[['MMM',
  210630,
  8950.0,
  4242.0,
  1971.0,
  1524.0,
  34730000000.0,
  578638253,
  211025],
 ['MMM',
  210331,
  8851.0,
  4327.0,
  1983.0,
  1624.0,
  34730000000.0,
  578638253,
  211025],
 ['MMM',
  201231,
  8583.0,
  4246.0,
  1839.0,
  1389.0,
  34730000000.0,
  578638253,
  211025],
 ['MMM',
  200930,
  8350.0,
  4047.0,
  1909.0,
  1413.0,
  34730000000.0,
  578638253,
  211025],
 ['ABT',
  210630,
  10223.0,
  5276.0,
  1342.0,
  1189.0,
  40230000000.0,
  1776820148,
  211019],
 ['ABT',
  210331,
  10456.0,
  6056.0,
  2109.0,
  1793.0,
  40230000000.0,
  1776820148,
  211019],
 ['ABT',
  201231,
  10701.0,
  6237.0,
  2437.0,
  2162.0,
  40230000000.0,
  1776820148,
  211019],
 ['ABT',
  200930,
  8853.0,
  4890.0,
  1545.0,
  1232.0,
  40230000000.0,
  1776820148,
  211019],
 ['ABBV',
  210331,
  13010.0,
  8818.0,
  4103.0,
  3553.0,
  50200000000.0,
  1766222336,
  211028],
 ['ABBV',
  201231,
  13858.0,
  9174.0,
  3753.0,
  36.0,
  50200000000.0,
  1766222336,
  211028],
 ['ABBV',
  200930,
  12902.0,
  7852.0,
  3255.0,
  2308.0,
  50200000000.0,
  1766222336,
  211028],
 ['ABBV',
  200630,
  10425.0,
  6714.0,
  752.0,
  -738.0,
  50200000000.0,
  1766222336,
  211028],
 ['ABMD', 210331, 241.25, 195.17, 62.8, 56.86, 847520000.0, 45344956, 210804],
 ['ABMD', 201231, 231.66, 190.55, 71.35, 61.87, 847520000.0, 45344956, 210804],
 ['ABMD', 200930, 209.76, 171.03, 61.34, 62.21, 847520000.0, 45344956, 210804],
 ['ABMD', 200630, 164.85, 128.87, 34.07, 44.59, 847520000.0, 45344956, 210804],
 ['ACN',
  210531,
  13263.8,
  4404.38,
  2118.66,
  1549.43,
  47950000000.0,
  666947366,
  210922],
 ['ACN',
  210228,
  12088.12,
  3595.23,
  1653.52,
  1440.86,
  47950000000.0,
  666947366,
  210922],
 ['ACN',
  201130,
  11762.18,
  3898.3,
  1890.67,
  1500.28,
  47950000000.0,
  666947366,
  210922],
 ['ACN',
  200831,
  10835.27,
  3440.54,
  1544.7,
  1287.93,
  47950000000.0,
  666947366,
  210922],
 ['ATVI',
  210331,
  2275.0,
  1697.0,
  795.0,
  619.0,
  8570000000.0,
  777016759,
  210802],
 ['ATVI',
  201231,
  2412.0,
  1595.0,
  595.0,
  509.0,
  8570000000.0,
  777016759,
  210802],
 ['ATVI',
  200930,
  1954.0,
  1485.0,
  747.0,
  604.0,
  8570000000.0,
  777016759,
  210802],
 ['ATVI',
  200630,
  1932.0,
  1463.0,
  749.0,
  580.0,
  8570000000.0,
  777016759,
  210802],
 ['ADBE',
  210604,
  3835.0,
  3391.0,
  1406.0,
  1116.0,
  14390000000.0,
  476400000,
  210920],
 ['ADBE',
  210305,
  3905.0,
  3458.0,
  1454.0,
  1261.0,
  14390000000.0,
  476400000,
  210920],
 ['ADBE',
  201127,
  3424.0,
  2996.0,
  1215.0,
  2250.0,
  14390000000.0,
  476400000,
  210920],
 ['ADBE',
  200828,
  3225.0,
  2798.0,
  1069.0,
  955.0,
  14390000000.0,
  476400000,
  210920],
 ['AMD',
  210626,
  3850.0,
  1830.0,
  831.0,
  710.0,
  13340000000.0,
  1212965282,
  211026],
 ['AMD',
  210327,
  3445.0,
  1587.0,
  648.0,
  555.0,
  13340000000.0,
  1212965282,
  211026],
 ['AMD',
  201226,
  3244.0,
  1451.0,
  554.0,
  1781.0,
  13340000000.0,
  1212965282,
  211026],
 ['AMD',
  200926,
  2801.0,
  1230.0,
  411.0,
  390.0,
  13340000000.0,
  1212965282,
  211026],
 ['AAP',
  210424,
  3330.37,
  1487.23,
  252.13,
  185.93,
  10740000000.0,
  65438870,
  210816],
 ['AAP',
  210102,
  2365.13,
  1085.23,
  151.83,
  112.0,
  10740000000.0,
  65438870,
  210816],
 ['AAP',
  201003,
  2541.93,
  1128.55,
  208.79,
  147.48,
  10740000000.0,
  65438870,
  210816],
 ['AAP',
  200711,
  2501.38,
  1097.01,
  262.85,
  189.96,
  10740000000.0,
  65438870,
  210816],
 ['AES',
  210331,
  2635.0,
  664.0,
  166.0,
  -148.0,
  9960000000.0,
  666257334,
  210804],
 ['AES', 201231, 2560.0, 906.0, 771.0, 318.0, 9960000000.0, 666257334, 210804],
 ['AES',
  200930,
  2545.0,
  756.0,
  -292.0,
  -333.0,
  9960000000.0,
  666257334,
  210804],
 ['AES', 200630, 2217.0, 524.0, 423.0, -83.0, 9960000000.0, 666257334, 210804],
 ['AFL',
  210630,
  5564.0,
  nan,
  1374.0,
  1105.0,
  23010000000.0,
  670741349,
  211026],
 ['AFL',
  210331,
  5869.0,
  nan,
  1665.0,
  1293.0,
  23010000000.0,
  670741349,
  211026],
 ['AFL', 201231, 5913.0, nan, 1278.0, 952.0, 23010000000.0, 670741349, 211026],
 ['AFL',
  200930,
  5665.0,
  nan,
  1216.0,
  2456.0,
  23010000000.0,
  670741349,
  211026],
 ['A', 210430, 1525.0, 817.0, 288.0, 216.0, 5820000000.0, 304697515, 210816],
 ['A', 210131, 1548.0, 838.0, 328.0, 288.0, 5820000000.0, 304697515, 210816],
 ['A', 201031, 1483.0, 788.0, 299.0, 222.0, 5820000000.0, 304697515, 210816],
 ['A', 200731, 1261.0, 669.0, 230.0, 199.0, 5820000000.0, 304697515, 210816],
 ['APD', 210331, 2502.0, 756.5, 548.5, 473.1, 9260000000.0, 221314258, 210808],
 ['APD', 201231, 2375.2, 742.8, 539.1, 482.0, 9260000000.0, 221314258, 210808],
 ['APD', 200930, 2320.1, 753.6, 560.2, 486.8, 9260000000.0, 221314258, 210808],
 ['APD', 200630, 2065.2, 720.3, 539.2, 446.5, 9260000000.0, 221314258, 210808],
 ['AKAM',
  210331,
  842.71,
  536.02,
  182.36,
  155.69,
  3280000000.0,
  162991685,
  210802],
 ['AKAM',
  201231,
  846.29,
  542.44,
  134.62,
  113.37,
  3280000000.0,
  162991685,
  210802],
 ['AKAM',
  200930,
  792.85,
  509.41,
  181.16,
  158.62,
  3280000000.0,
  162991685,
  210802],
 ['AKAM',
  200630,
  794.72,
  517.91,
  190.43,
  161.91,
  3280000000.0,
  162991685,
  210802],
 ['ALK', 210630, 1527.0, 819.0, 549.0, 397.0, 3830000000.0, 134579107, 211027],
 ['ALK',
  210331,
  797.0,
  218.0,
  -161.0,
  -131.0,
  3830000000.0,
  134579107,
  211027],
 ['ALK',
  201231,
  808.0,
  313.0,
  -621.0,
  -447.0,
  3830000000.0,
  134579107,
  211027],
 ['ALK',
  200930,
  701.0,
  230.0,
  -571.0,
  -431.0,
  3830000000.0,
  134579107,
  211027],
 ['ALB',
  210331,
  829.29,
  263.69,
  124.16,
  95.68,
  3220000000.0,
  116721826,
  210803],
 ['ALB',
  201231,
  879.15,
  265.42,
  125.14,
  84.64,
  3220000000.0,
  116721826,
  210803],
 ['ALB',
  200930,
  746.87,
  254.06,
  144.23,
  98.3,
  3220000000.0,
  116721826,
  210803],
 ['ALB',
  200630,
  764.05,
  233.36,
  112.3,
  85.62,
  3220000000.0,
  116721826,
  210803],
 ['ARE',
  210630,
  509.62,
  365.66,
  132.81,
  385.08,
  2000000000.0,
  152362999,
  211031],
 ['ARE', 210331, 479.85, 341.96, 54.67, 8.12, 2000000000.0, 152362999, 211031],
 ['ARE',
  201231,
  463.72,
  326.95,
  83.44,
  441.48,
  2000000000.0,
  152362999,
  211031],
 ['ARE',
  200930,
  545.04,
  404.6,
  130.41,
  81.06,
  2000000000.0,
  152362999,
  211031],
 ['ALXN',
  210331,
  1636.5,
  1511.1,
  636.2,
  636.0,
  6260000000.0,
  221019230,
  210801],
 ['ALXN',
  201231,
  1591.8,
  1439.6,
  622.1,
  535.8,
  6260000000.0,
  221019230,
  210801],
 ['ALXN',
  200930,
  1588.7,
  1444.0,
  684.9,
  578.1,
  6260000000.0,
  221019230,
  210801],
 ['ALXN',
  200630,
  1444.6,
  1299.7,
  -1370.2,
  -1068.1,
  6260000000.0,
  221019230,
  210801],
 ['ALGN',
  210630,
  1010.81,
  758.54,
  268.9,
  199.71,
  3470000000.0,
  79136575,
  211026],
 ['ALGN',
  210331,
  894.77,
  677.1,
  225.45,
  200.38,
  3470000000.0,
  79136575,
  211026],
 ['ALGN',
  201231,
  834.52,
  610.46,
  213.18,
  158.99,
  3470000000.0,
  79136575,
  211026],
 ['ALGN',
  200930,
  734.14,
  534.09,
  177.07,
  139.37,
  3470000000.0,
  79136575,
  211026],
 ['ALLE', 210630, 746.9, 320.5, 145.4, 118.7, 2900000000.0, 89696156, 211027],
 ['ALLE', 210331, 694.3, 297.4, 131.3, 108.0, 2900000000.0, 89696156, 211027],
 ['ALLE', 201231, 727.3, 320.7, 117.7, 93.3, 2900000000.0, 89696156, 211027],
 ['ALLE', 200930, 728.4, 321.1, 160.4, 146.9, 2900000000.0, 89696156, 211027],
 ['LNT', 210331, 901.0, nan, 198.0, 174.0, 3400000000.0, 250134552, 210804],
 ['LNT', 201231, 817.0, nan, 112.0, 66.0, 3400000000.0, 250134552, 210804],
 ['LNT', 200930, 920.0, nan, 272.0, 249.0, 3400000000.0, 250134552, 210804],
 ['LNT', 200630, 763.1, nan, 168.1, 136.9, 3400000000.0, 250134552, 210804],
 ['ALL',
  210331,
  12451.0,
  nan,
  3032.0,
  -1381.0,
  47170000000.0,
  299338684,
  210803],
 ['ALL',
  201231,
  12018.0,
  nan,
  3310.0,
  2624.0,
  47170000000.0,
  299338684,
  210803],
 ['ALL',
  200930,
  11500.0,
  nan,
  1442.0,
  1153.0,
  47170000000.0,
  299338684,
  210803],
 ['ALL',
  200630,
  11197.0,
  nan,
  1546.0,
  1250.0,
  47170000000.0,
  299338684,
  210803],
 ['GOOGL',
  210630,
  61880.0,
  35653.0,
  19361.0,
  18525.0,
  220270000000.0,
  666754904,
  211027],
 ['GOOGL',
  210331,
  55314.0,
  31211.0,
  16437.0,
  17930.0,
  220270000000.0,
  666754904,
  211027],
 ['GOOGL',
  201231,
  56898.0,
  30818.0,
  15651.0,
  15227.0,
  220270000000.0,
  666754904,
  211027],
 ['GOOGL',
  200930,
  46173.0,
  25056.0,
  11213.0,
  11247.0,
  220270000000.0,
  666754904,
  211027],
 ['GOOG',
  210630,
  61880.0,
  35653.0,
  19361.0,
  18525.0,
  220270000000.0,
  666754904,
  211027],
 ['GOOG',
  210331,
  55314.0,
  31211.0,
  16437.0,
  17930.0,
  220270000000.0,
  666754904,
  211027],
 ['GOOG',
  201231,
  56898.0,
  30818.0,
  15651.0,
  15227.0,
  220270000000.0,
  666754904,
  211027],
 ['GOOG',
  200930,
  46173.0,
  25056.0,
  11213.0,
  11247.0,
  220270000000.0,
  666754904,
  211027],
 ['MO',
  210331,
  6036.0,
  3273.0,
  2114.0,
  1424.0,
  25830000000.0,
  1850637974,
  211027],
 ['MO',
  201231,
  6304.0,
  3162.0,
  2642.0,
  1924.0,
  25830000000.0,
  1850637974,
  211027],
 ['MO',
  200930,
  7123.0,
  3718.0,
  455.0,
  -952.0,
  25830000000.0,
  1850637974,
  211027],
 ['MO',
  200630,
  6367.0,
  3339.0,
  2835.0,
  1943.0,
  25830000000.0,
  1850637974,
  211027],
 ['AMZN',
  210331,
  108518.0,
  46115.0,
  8865.0,
  8107.0,
  419130000000.0,
  506000000,
  211027],
 ['AMZN',
  201231,
  125555.0,
  46271.0,
  6873.0,
  7222.0,
  419130000000.0,
  506000000,
  211027],
 ['AMZN',
  200930,
  96145.0,
  39039.0,
  6194.0,
  6331.0,
  419130000000.0,
  506000000,
  211027],
 ['AMZN',
  200630,
  88912.0,
  36252.0,
  5843.0,
  5243.0,
  419130000000.0,
  506000000,
  211027],
 ['AMCR',
  210331,
  3207.0,
  682.0,
  373.0,
  267.0,
  12550000000.0,
  1541792948,
  210823],
 ['AMCR',
  201231,
  3103.0,
  651.0,
  307.0,
  219.0,
  12550000000.0,
  1541792948,
  210823],
 ['AMCR',
  200930,
  3097.0,
  654.0,
  276.0,
  198.0,
  12550000000.0,
  1541792948,
  210823],
 ['AMCR',
  200630,
  3142.7,
  719.5,
  309.9,
  179.1,
  12550000000.0,
  1541792948,
  210823],
 ['AEE', 210331, 1566.0, nan, 316.0, 233.0, 5920000000.0, 255552619, 210805],
 ['AEE', 201231, 1328.0, nan, 211.0, 115.0, 5920000000.0, 255552619, 210805],
 ['AEE', 200930, 1628.0, nan, 494.0, 367.0, 5920000000.0, 255552619, 210805],
 ['AEE', 200630, 1398.0, nan, 354.0, 243.0, 5920000000.0, 255552619, 210805],
 ['AAL',
  210630,
  7478.0,
  4364.0,
  441.0,
  19.0,
  18690000000.0,
  647457831,
  211027],
 ['AAL',
  210331,
  4008.0,
  1675.0,
  -1315.0,
  -1250.0,
  18690000000.0,
  647457831,
  211027],
 ['AAL',
  201231,
  4028.0,
  1787.0,
  -2515.0,
  -2178.0,
  18690000000.0,
  647457831,
  211027],
 ['AAL',
  200930,
  3173.0,
  1102.0,
  -2871.0,
  -2399.0,
  18690000000.0,
  647457831,
  211027],
 ['AEP', 210630, 3826.5, nan, 809.9, 578.2, 15780000000.0, 500251339, 211027],
 ['AEP', 210331, 4281.1, nan, 810.3, 575.0, 15780000000.0, 500251339, 211027],
 ['AEP', 201231, 3610.6, nan, 570.2, 435.5, 15780000000.0, 500251339, 211027],
 ['AEP', 200930, 4066.4, nan, 943.2, 748.6, 15780000000.0, 500251339, 211027],
 ['AXP',
  210630,
  10356.0,
  7099.0,
  2940.0,
  2280.0,
  38010000000.0,
  794433076,
  211019],
 ['AXP',
  210331,
  9198.0,
  6504.0,
  2993.0,
  2235.0,
  38010000000.0,
  794433076,
  211019],
 ['AXP',
  201231,
  9506.0,
  6748.0,
  1858.0,
  1438.0,
  38010000000.0,
  794433076,
  211019],
 ['AXP',
  200930,
  8953.0,
  6488.0,
  1364.0,
  1073.0,
  38010000000.0,
  794433076,
  211019],
 ['AIG',
  210331,
  14454.0,
  nan,
  5070.0,
  3876.0,
  43750000000.0,
  858140647,
  210804],
 ['AIG', 201231, 9676.0, nan, -200.0, -53.0, 43750000000.0, 858140647, 210804],
 ['AIG', 200930, 10221.0, nan, 747.0, 288.0, 43750000000.0, 858140647, 210804],
 ['AIG',
  200630,
  9396.0,
  nan,
  -9296.0,
  -7928.0,
  43750000000.0,
  858140647,
  210804],
 ['AMT',
  210630,
  2298.9,
  1651.0,
  849.2,
  746.3,
  8590000000.0,
  455141279,
  211101],
 ['AMT',
  210331,
  2158.5,
  1584.2,
  803.0,
  645.0,
  8590000000.0,
  455141279,
  211101],
 ['AMT',
  201231,
  2122.5,
  1549.9,
  674.3,
  365.1,
  8590000000.0,
  455141279,
  211101],
 ['AMT',
  200930,
  2012.9,
  1450.3,
  747.9,
  464.4,
  8590000000.0,
  455141279,
  211101],
 ['AWK', 210331, 888.0, nan, 229.0, 133.0, 3820000000.0, 181469196, 210801],
 ['AWK', 201231, 923.0, nan, 263.0, 145.0, 3820000000.0, 181469196, 210801],
 ['AWK', 200930, 1079.0, nan, 433.0, 264.0, 3820000000.0, 181469196, 210801],
 ['AWK', 200630, 931.0, nan, 313.0, 176.0, 3820000000.0, 181469196, 210801],
 ['AMP',
  210630,
  3420.0,
  1657.0,
  764.0,
  591.0,
  12980000000.0,
  115904879,
  211025],
 ['AMP',
  210331,
  3355.0,
  2016.0,
  535.0,
  437.0,
  12980000000.0,
  115904879,
  211025],
 ['AMP',
  201231,
  3189.0,
  984.0,
  228.0,
  177.0,
  12980000000.0,
  115904879,
  211025],
 ['AMP',
  200930,
  3013.0,
  1805.0,
  -147.0,
  -140.0,
  12980000000.0,
  115904879,
  211025],
 ['ABC',
  210331,
  49154.17,
  1533.38,
  624.35,
  435.27,
  196280000000.0,
  205410717,
  210803],
 ['ABC',
  201231,
  52516.56,
  1452.23,
  547.23,
  374.85,
  196280000000.0,
  205410717,
  210803],
 ['ABC',
  200930,
  49244.77,
  1346.32,
  -6113.14,
  -4846.07,
  196280000000.0,
  205410717,
  210803],
 ['ABC',
  200630,
  45366.78,
  1225.72,
  382.66,
  289.44,
  196280000000.0,
  205410717,
  210803],
 ['AME',
  210331,
  1215.74,
  426.35,
  293.35,
  219.23,
  4550000000.0,
  230919176,
  210802],
 ['AME',
  201231,
  1198.95,
  428.98,
  298.11,
  221.03,
  4550000000.0,
  230919176,
  210802],
 ['AME',
  200930,
  1126.94,
  394.24,
  270.74,
  204.58,
  4550000000.0,
  230919176,
  210802],
 ['AME',
  200630,
  1011.92,
  342.73,
  226.99,
  166.22,
  4550000000.0,
  230919176,
  210802],
 ['AMGN',
  210331,
  5901.0,
  4411.0,
  2129.0,
  1646.0,
  25160000000.0,
  574553986,
  210802],
 ['AMGN',
  201231,
  6634.0,
  5037.0,
  2008.0,
  1615.0,
  25160000000.0,
  574553986,
  210802],
 ['AMGN',
  200930,
  6423.0,
  4862.0,
  2453.0,
  2021.0,
  25160000000.0,
  574553986,
  210802],
 ['AMGN',
  200630,
  6206.0,
  4718.0,
  2323.0,
  1803.0,
  25160000000.0,
  574553986,
  210802],
 ['APH', 210630, 2653.9, 843.2, 476.2, 369.8, 9780000000.0, 597615720, 211026],
 ['APH', 210331, 2377.1, 727.5, 464.8, 329.6, 9780000000.0, 597615720, 211026],
 ['APH', 201231, 2426.0, 765.6, 488.3, 357.0, 9780000000.0, 597615720, 211026],
 ['APH', 200930, 2323.4, 734.9, 475.8, 346.6, 9780000000.0, 597615720, 211026],
 ['ADI',
  210501,
  1661.41,
  1136.64,
  519.69,
  422.9,
  6200000000.0,
  368826918,
  210817],
 ['ADI',
  210130,
  1558.46,
  1045.37,
  463.86,
  388.52,
  6200000000.0,
  368826918,
  210817],
 ['ADI',
  201031,
  1526.3,
  1023.08,
  461.67,
  386.53,
  6200000000.0,
  368826918,
  210817],
 ['ADI',
  200801,
  1456.14,
  972.58,
  419.12,
  362.67,
  6200000000.0,
  368826918,
  210817],
 ['ANSS', 210331, 363.23, 301.12, 50.02, 72.4, 1740000000.0, 87151573, 210803],
 ['ANSS',
  201231,
  623.69,
  555.78,
  259.39,
  215.63,
  1740000000.0,
  87151573,
  210803],
 ['ANSS',
  200930,
  366.96,
  313.58,
  90.08,
  75.63,
  1740000000.0,
  87151573,
  210803],
 ['ANSS',
  200630,
  385.66,
  331.8,
  112.81,
  96.56,
  1740000000.0,
  87151573,
  210803],
 ['ANTM',
  210630,
  33851.0,
  nan,
  2558.0,
  1793.0,
  129169999999.99998,
  243815480,
  211019],
 ['ANTM',
  210331,
  32385.0,
  nan,
  2368.0,
  1665.0,
  129169999999.99998,
  243815480,
  211019],
 ['ANTM',
  201231,
  31760.0,
  nan,
  802.0,
  551.0,
  129169999999.99998,
  243815480,
  211019],
 ['ANTM',
  200930,
  31176.0,
  nan,
  587.0,
  222.0,
  129169999999.99998,
  243815480,
  211019],
 ['AON', 210630, 2886.0, nan, 672.0, 379.0, 11760000000.0, 225630496, 211028],
 ['AON', 210331, 3525.0, nan, 1245.0, 913.0, 11760000000.0, 225630496, 211028],
 ['AON', 201231, 2965.0, nan, 713.0, 524.0, 11760000000.0, 225630496, 211028],
 ['AON', 200930, 2385.0, nan, 441.0, 275.0, 11760000000.0, 225630496, 211028],
 ['AOS', 210630, 859.8, 321.4, 151.3, 118.2, 3220000000.0, 171663132, 211101],
 ['AOS', 210331, 769.0, 288.6, 126.1, 97.7, 3220000000.0, 171663132, 211101],
 ['AOS', 201231, 834.5, 324.1, 151.9, 120.0, 3220000000.0, 171663132, 211101],
 ['AOS', 200930, 760.0, 297.1, 137.3, 105.4, 3220000000.0, 171663132, 211101],
 ['APA',
  210331,
  1871.0,
  1113.0,
  511.0,
  388.0,
  4960000000.0,
  377972835,
  210803],
 ['APA', 201231, 1219.0, 800.0, 115.0, 10.0, 4960000000.0, 377972835, 210803],
 ['APA', 200930, 1120.0, 786.0, 158.0, -4.0, 4960000000.0, 377972835, 210803],
 ['APA',
  200630,
  752.0,
  442.0,
  -154.0,
  -386.0,
  4960000000.0,
  377972835,
  210803],
 ['AAPL',
  210626,
  81434.0,
  35255.0,
  24126.0,
  21744.0,
  347160000000.0,
  16687631000,
  211103],
 ['AAPL',
  210327,
  89584.0,
  38079.0,
  27503.0,
  23630.0,
  347160000000.0,
  16687631000,
  211103],
 ['AAPL',
  201226,
  111439.0,
  44328.0,
  33534.0,
  28755.0,
  347160000000.0,
  16687631000,
  211103],
 ['AAPL',
  200926,
  64698.0,
  24689.0,
  14775.0,
  12673.0,
  347160000000.0,
  16687631000,
  211103],
 ['AMAT',
  210502,
  5582.0,
  2653.0,
  1579.0,
  1330.0,
  19830000000.0,
  917660832,
  210818],
 ['AMAT',
  210131,
  5162.0,
  2349.0,
  1283.0,
  1130.0,
  19830000000.0,
  917660832,
  210818],
 ['AMAT',
  201025,
  4688.0,
  2130.0,
  1283.0,
  1131.0,
  19830000000.0,
  917660832,
  210818],
 ['AMAT',
  200726,
  4395.0,
  1955.0,
  1108.0,
  841.0,
  19830000000.0,
  917660832,
  210818],
 ['APTV',
  210331,
  4023.0,
  727.0,
  429.0,
  295.0,
  13860000000.0,
  270462749,
  210804],
 ['APTV',
  201231,
  4212.0,
  785.0,
  446.0,
  299.0,
  13860000000.0,
  270462749,
  210804],
 ['APTV',
  200930,
  3668.0,
  647.0,
  364.0,
  299.0,
  13860000000.0,
  270462749,
  210804],
 ['APTV',
  200630,
  1960.0,
  17.0,
  -315.0,
  -366.0,
  13860000000.0,
  270462749,
  210804],
 ['ADM',
  210630,
  22926.0,
  1463.0,
  619.0,
  712.0,
  74920000000.0,
  559366478,
  211103],
 ['ADM',
  210331,
  18893.0,
  1548.0,
  740.0,
  689.0,
  74920000000.0,
  559366478,
  211103],
 ['ADM',
  201231,
  17978.0,
  1352.0,
  585.0,
  687.0,
  74920000000.0,
  559366478,
  211103],
 ['ADM',
  200930,
  15126.0,
  1042.0,
  6.0,
  225.0,
  74920000000.0,
  559366478,
  211103],
 ['ANET',
  210331,
  667.56,
  425.27,
  206.29,
  180.37,
  2460000000.0,
  76321815,
  210801],
 ['ANET',
  201231,
  648.48,
  414.58,
  194.64,
  182.96,
  2460000000.0,
  76321815,
  210801],
 ['ANET',
  200930,
  605.43,
  384.96,
  188.4,
  168.38,
  2460000000.0,
  76321815,
  210801],
 ['ANET',
  200630,
  540.57,
  344.09,
  166.99,
  144.79,
  2460000000.0,
  76321815,
  210801],
 ['AJG', 210331, 2165.0, 862.1, 460.6, 382.1, 7300000000.0, 206750000, 211027],
 ['AJG', 201231, 1703.6, 580.6, 177.1, 142.2, 7300000000.0, 206750000, 211027],
 ['AJG', 200930, 1849.1, 634.9, 255.0, 176.6, 7300000000.0, 206750000, 211027],
 ['AJG', 200630, 1584.0, 596.0, 226.8, 153.7, 7300000000.0, 206750000, 211027],
 ['AIZ', 210331, 2433.6, nan, 221.5, 163.0, 9970000000.0, 60566633, 210802],
 ['AIZ', 201231, 2560.8, nan, 210.2, 139.2, 9970000000.0, 60566633, 210802],
 ['AIZ', 200930, 2504.0, nan, 21.4, -30.2, 9970000000.0, 60566633, 210802],
 ['AIZ', 200630, 2474.5, nan, 253.1, 178.1, 9970000000.0, 60566633, 210802],
 ['T',
  210630,
  44045.0,
  22946.0,
  3269.0,
  1570.0,
  176020000000.0,
  7140000000,
  211020],
 ['T',
  210331,
  43939.0,
  22852.0,
  7661.0,
  7550.0,
  176020000000.0,
  7140000000,
  211020],
 ['T',
  201231,
  45691.0,
  22781.0,
  -10745.0,
  -13883.0,
  176020000000.0,
  7140000000,
  211020],
 ['T',
  200930,
  42340.0,
  22501.0,
  6132.0,
  2816.0,
  176020000000.0,
  7140000000,
  211020],

In [194]:
investing_cr= pd.DataFrame(crawling_investings,columns=["Symbol", 'update_date', 'querter_sales','profit','operating' ,'real_profit','sales' ,'share' ,'next_update_date'])

In [197]:
investing_cr = investing_cr.append(pd.DataFrame(['US500'], columns=['Symbol']))

In [198]:
investing_cr

,Symbol,update_date,querter_sales,profit,operating,real_profit,sales,share,next_update_date
0,MMM,210630.0,8950.0,4242.0,1971.0,1524.0,3.473000e+10,5.786383e+08,211025.0
1,MMM,210331.0,8851.0,4327.0,1983.0,1624.0,3.473000e+10,5.786383e+08,211025.0
2,MMM,201231.0,8583.0,4246.0,1839.0,1389.0,3.473000e+10,5.786383e+08,211025.0
3,MMM,200930.0,8350.0,4047.0,1909.0,1413.0,3.473000e+10,5.786383e+08,211025.0
4,ABT,210630.0,10223.0,5276.0,1342.0,1189.0,4.023000e+10,1.776820e+09,211019.0
...,...,...,...,...,...,...,...,...,...
2016,ZTS,210331.0,1871.0,1328.0,687.0,559.0,7.010000e+09,4.749734e+08,210804.0
2017,ZTS,201231.0,1807.0,1209.0,420.0,359.0,7.010000e+09,4.749734e+08,210804.0
2018,ZTS,200930.0,1786.0,1243.0,597.0,479.0,7.010000e+09,4.749734e+08,210804.0
2019,ZTS,200630.0,1548.0,1102.0,482.0,377.0,7.010000e+09,4.749734e+08,210804.0
0,US500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [202]:
connect_datas = {
    'host': user.host,
    'user': user.user,
    'passwd': user.pw,
    'db': user.db,
    'charset': 'utf8'
}
db = MySQLdb.connect(**connect_datas) 

client = create_engine(f'mysql://{user.user}:{user.pw}@{user.host}/{user.db}?charset=utf8',encoding="utf-8")
conn = client.connect()

In [204]:
# # cursor객체 생성후 쿼리 실행
investing_cr.to_sql(name='Company_low',con=client,if_exists='append',index=False)

IntegrityError: (pymysql.err.IntegrityError) (1452, 'Cannot add or update a child row: a foreign key constraint fails (`US_Stock`.`Company_low`, CONSTRAINT `Company_low_ibfk_1` FOREIGN KEY (`Symbol`) REFERENCES `company` (`Symbol`))')
[SQL: INSERT INTO `Company_low` (`Symbol`, update_date, querter_sales, profit, operating, real_profit, sales, share, next_update_date) VALUES (%(Symbol)s, %(update_date)s, %(querter_sales)s, %(profit)s, %(operating)s, %(real_profit)s, %(sales)s, %(share)s, %(next_update_date)s)]
[parameters: ({'Symbol': 'MMM', 'update_date': 210630.0, 'querter_sales': 8950.0, 'profit': 4242.0, 'operating': 1971.0, 'real_profit': 1524.0, 'sales': 34730000000.0, 'share': 578638253.0, 'next_update_date': 211025.0}, {'Symbol': 'MMM', 'update_date': 210331.0, 'querter_sales': 8851.0, 'profit': 4327.0, 'operating': 1983.0, 'real_profit': 1624.0, 'sales': 34730000000.0, 'share': 578638253.0, 'next_update_date': 211025.0}, {'Symbol': 'MMM', 'update_date': 201231.0, 'querter_sales': 8583.0, 'profit': 4246.0, 'operating': 1839.0, 'real_profit': 1389.0, 'sales': 34730000000.0, 'share': 578638253.0, 'next_update_date': 211025.0}, {'Symbol': 'MMM', 'update_date': 200930.0, 'querter_sales': 8350.0, 'profit': 4047.0, 'operating': 1909.0, 'real_profit': 1413.0, 'sales': 34730000000.0, 'share': 578638253.0, 'next_update_date': 211025.0}, {'Symbol': 'ABT', 'update_date': 210630.0, 'querter_sales': 10223.0, 'profit': 5276.0, 'operating': 1342.0, 'real_profit': 1189.0, 'sales': 40230000000.0, 'share': 1776820148.0, 'next_update_date': 211019.0}, {'Symbol': 'ABT', 'update_date': 210331.0, 'querter_sales': 10456.0, 'profit': 6056.0, 'operating': 2109.0, 'real_profit': 1793.0, 'sales': 40230000000.0, 'share': 1776820148.0, 'next_update_date': 211019.0}, {'Symbol': 'ABT', 'update_date': 201231.0, 'querter_sales': 10701.0, 'profit': 6237.0, 'operating': 2437.0, 'real_profit': 2162.0, 'sales': 40230000000.0, 'share': 1776820148.0, 'next_update_date': 211019.0}, {'Symbol': 'ABT', 'update_date': 200930.0, 'querter_sales': 8853.0, 'profit': 4890.0, 'operating': 1545.0, 'real_profit': 1232.0, 'sales': 40230000000.0, 'share': 1776820148.0, 'next_update_date': 211019.0}  ... displaying 10 of 2021 total bound parameter sets ...  {'Symbol': 'ZTS', 'update_date': 200630.0, 'querter_sales': 1548.0, 'profit': 1102.0, 'operating': 482.0, 'real_profit': 377.0, 'sales': 7010000000.0, 'share': 474973405.0, 'next_update_date': 210804.0}, {'Symbol': 'US500', 'update_date': None, 'querter_sales': None, 'profit': None, 'operating': None, 'real_profit': None, 'sales': None, 'share': None, 'next_update_date': None})]
(Background on this error at: http://sqlalche.me/e/13/gkpj)

In [226]:
b = investing_cr['Symbol'].unique()

In [ ]:
SELECT Symbol FROM US_Stock.company;

In [220]:
sql = '''
SELECT Symbol FROM US_Stock.company;
''' 
# # cursor객체 생성후 쿼리 실행
curs = db.cursor()
data1 = db_class.executeAll(sql)

In [218]:
db_class= MysqlModule.Database()

In [217]:
import MysqlModule

In [225]:
a = pd.DataFrame(data1)['Symbol'].values

In [227]:
for data in a :
    if data not in b :
        print(data)

In [228]:
for data in b :
    if data not in a :
        print(data)

OGN

In [179]:
querys =pd.read_csv('../datas/investing_query.csv')

In [176]:
querys['update_date'] = 0

In [178]:
querys.to_csv('../datas/investing_query.csv', index=False)

In [1]:
import re
import requests
import numpy as np
from datetime import datetime
from bs4 import BeautifulSoup
import pandas as pd
import time
import sys
import pandas as pd
import pymysql
pymysql.install_as_MySQLdb()
import MySQLdb
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy.orm import sessionmaker
import warnings     
warnings.filterwarnings(action='ignore')    
import user

def crawlingquery(symbol):
    url = f"https://investing.com/search/?q={symbol}"
    headers = {"User-Agent": "Mozilla/5.0"}
    response = requests.get(url, headers=headers)

    # 맞는 데이터 찾기
    dom = BeautifulSoup(response.content, "html.parser")
    datas = dom.find_all(class_="js-inner-all-results-quote-item row")
    investing_query = np.nan

    for i in range(len(datas)):
        flag = datas[i].find(class_="flag first")
        try:
            if re.findall('middle (USA)', str(flag))[0] != 'USA':
                continue
        except:
            continue

        investingsymbol = datas[i].find(class_="second").text
        if investingsymbol.upper() != symbol.upper():
            continue

        text = datas[i].find(class_="fourth").text
        if text[:5] != 'Stock':
            continue

        investing_query = re.findall(
            'equities\/([\S]+)', datas[i].get("href"))[0]
        return investing_query

In [2]:
import datetime
def crawling_investing(query):
    try:
        url = f"https://kr.investing.com/equities/{query}"
        headers = {"User-Agent": "Mozilla/5.0"}
        response = requests.get(url, headers=headers)
        dom = BeautifulSoup(response.content, "html.parser")
        elements = dom.find_all(
            class_='flex justify-between border-b py-2 desktop:py-0.5')
        # time.sleep(0.5)
        for element in elements:
            try:
                shared = re.findall('발행주식수([0-9\,]+)', element.text)[0]
                shared = int(shared.replace(',', ''))
            except:
                pass

            try:
                sales = re.findall('매출([0-9\.A-Z]+)', element.text)[0]
                sales = float(sales[:-1]) * int(sales[-1].replace('B', str(10000*10000*10)).replace('M', str(10000*100)))
            except:
                pass

            try:
                data = re.findall('다음 수익일자([0-9년월일\s]+)', element.text)[0]
                year = int(re.findall('(2[12])년', data)[0])
                month = int(re.findall('([0-9]{1,2})월', data)[0])
                date = int(re.findall('([0-9]{1,2})일', data)[0])
                update_date = year*10000 + month*100 + date
                update_date = datetime.datetime.strptime(str(update_date), '%y%m%d') + datetime.timedelta(days=1)
            except:
                continue
            
            
            
        return [sales, shared, update_date]

    except:
        return [np.nan, np.nan, np.nan]

In [188]:
def crawling_investing2(query):
    querys = pd.read_csv('../datas/investing_query.csv')
    symbol = querys['symbol'][querys['query'] == query].values[0]
    first_date = first_sales = first_profit = first_operating = first_realprofit = second_date = second_sales = second_profit = second_operating = second_realprofit = thirth_date = thirth_sales = thirth_profit = thirth_operating = thirth_realprofit = fourth_date = fourth_sales = fourth_profit = fourth_operating = fourth_realprofit = np.nan
    try:
        url = f"https://kr.investing.com/equities/{query}-financial-summary"
        headers = {
            "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/90.0.4430.212 Safari/537.36"}
        response = requests.get(url, headers=headers)
        dom = BeautifulSoup(response.content, "html.parser")
        dates = dom.select("#rsdiv > div > table > thead > tr > th")
        numbers = dom.select("#rsdiv > div > table > tbody > tr > td")
        # time.sleep(0.5)

        for date, i in zip(dates, range(len(dates))):
            if date.text == '기말:':
                data = re.findall('[0-9년월일\s]+', dates[i+1].text)[0]
                year = int(re.findall('(2[0-9])년', data)[0])
                month = int(re.findall('([0-9]{1,2})월', data)[0])
                day = int(re.findall('([0-9]{1,2})일', data)[0])
                first_date = year*10000 + month*100 + day
                data = re.findall('[0-9년월일\s]+', dates[i+2].text)[0]
                year = int(re.findall('(2[0-9])년', data)[0])
                month = int(re.findall('([0-9]{1,2})월', data)[0])
                day = int(re.findall('([0-9]{1,2})일', data)[0])
                second_date = year*10000 + month*100 + day
                data = re.findall('[0-9년월일\s]+', dates[i+3].text)[0]
                year = int(re.findall('(2[0-9])년', data)[0])
                month = int(re.findall('([0-9]{1,2})월', data)[0])
                day = int(re.findall('([0-9]{1,2})일', data)[0])
                thirth_date = year*10000 + month*100 + day
                data = re.findall('[0-9년월일\s]+', dates[i+4].text)[0]
                year = int(re.findall('(2[0-9])년', data)[0])
                month = int(re.findall('([0-9]{1,2})월', data)[0])
                day = int(re.findall('([0-9]{1,2})일', data)[0])
                fourth_date = year*10000 + month*100 + day
                break

        for number, i in zip(numbers, range(len(numbers))):
            if number.text == '총매출':
                try:
                    first_sales = float(numbers[i+1].text)
                    second_sales = float(numbers[i+2].text)
                    thirth_sales = float(numbers[i+3].text)
                    fourth_sales = float(numbers[i+4].text)
                except:
                    first_sales = second_sales = thirth_sales = fourth_sales = np.nan
            elif number.text == '총 이익':
                try:
                    first_profit = float(numbers[i+1].text)
                    second_profit = float(numbers[i+2].text)
                    thirth_profit = float(numbers[i+3].text)
                    fourth_profit = float(numbers[i+4].text)
                except:
                    first_profit = second_profit = thirth_profit = fourth_profit = np.nan

            elif number.text == '영업 이익':
                try:
                    first_operating = float(numbers[i+1].text)
                    second_operating = float(numbers[i+2].text)
                    thirth_operating = float(numbers[i+3].text)
                    fourth_operating = float(numbers[i+4].text)
                except:
                    first_operating = second_operating = thirth_operating = fourth_operating = np.nan

            elif number.text == '순이익':
                try:
                    first_realprofit = float(numbers[i+1].text)
                    second_realprofit = float(numbers[i+2].text)
                    thirth_realprofit = float(numbers[i+3].text)
                    fourth_realprofit = float(numbers[i+4].text)
                except:
                    first_realprofit = second_realprofit = thirth_realprofit = fourth_realprofit = np.nan
    
#        return first_date, first_sales, first_profit, first_operating, first_realprofit
        dfs1 = [symbol, first_date, first_sales,
                first_profit, first_operating, first_realprofit]
        dfs2 = [symbol, second_date, second_sales,
                second_profit, second_operating, second_realprofit]
        dfs3 = [symbol, thirth_date, thirth_sales,
                thirth_profit, thirth_operating, thirth_realprofit]
        dfs4 = [symbol, fourth_date, fourth_sales,
                fourth_profit, fourth_operating, fourth_realprofit]

    except:
#        return np.nan, np.nan, np.nan, np.nan, np.nan
        dfs1 = [symbol, np.nan, np.nan, np.nan, np.nan, np.nan]
        dfs2 = [symbol, np.nan, np.nan, np.nan, np.nan, np.nan]
        dfs3 = [symbol, np.nan, np.nan, np.nan, np.nan, np.nan]
        dfs4 = [symbol, np.nan, np.nan, np.nan, np.nan, np.nan]

    return dfs1, dfs2, dfs3, dfs4

In [165]:
import sys
import time
import pandas as pd
from bs4 import BeautifulSoup
from datetime import datetime
import numpy as np
import requests
import time
import re
#from module import crawlingquery, crawling_investing, crawling_investing2

querys = pd.read_csv('../datas/investing_query.csv')

investing = pd.read_csv
today = datetime.now().year % 100 * 10000 + \
    datetime.now().month * 100 + datetime.now().day
df = []
crawling_investings = []
a = 0
for row in querys.values:
    symbol = row[0]
    query = row[1]
    update_date = row[2]
    url = f"https://kr.investing.com/equities/{query}-news"
    headers = {
        "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/90.0.4430.212 Safari/537.36"}
    response = requests.get(url, headers=headers)
    if response.status_code >= 300:
        a = 1
        query = crawlingquery(symbol)
        querys['investing_query'][querys['symbol'] == symbol] = query
        url = f"https://kr.investing.com/equities/{query}-news"
        response = requests.get(url, headers=headers)
        if response.status_code >= 300:
            print(f'{symbol}의 서버가 응답하지 않습니다. 에러 코드 {response.status_code}')

    dom = BeautifulSoup(response.content, "html.parser")
    datas = dom.find_all(class_="textDiv")

    for i in range(len(datas)):
        item = datas[i]
        try:
            text = item.select_one('.date').text
            date = re.findall('[0-9]{0,2} 시간 전', text)
        except:
            continue
        title = item.select_one(".title").get("title")
        subtitle = BeautifulSoup(item.select_one('p').text, "html.parser")
        if item.select_one(".title").get("href")[:8] != 'https://':
            link = 'https://kr.investing.com' + item.select_one(".title").get("href")
        else :
            link = item.select_one(".title").get("href")

        df.append({'symbol': symbol, 'title': title, 'subtitle': subtitle,"link": link})
    time.sleep(0.5)

    if today > update_date:
        [sales, shared, update_date]  = crawling_investing(query)
        time.sleep(0.5)
        dfs1, dfs2, dfs3, dfs4 = crawling_investing2(query)
        #dfs1 = crawling_investing2(query)
        for k in [sales, shared, update_date]:
            dfs1.append(k)
            dfs2.append(k)
            dfs3.append(k)
            dfs4.append(k)
        crawling_investings.append(dfs1)
        crawling_investings.append(dfs2)
        crawling_investings.append(dfs3)
        crawling_investings.append(dfs4)
        querys['update_date'][querys['symbol'] == symbol] = update_date
        a=1
        

#1. mysqldb 접속객체 세팅(연결하기)
connect_datas = {
    'host': user.host,
    'user': user.user,
    'passwd': user.pw,
    'db': user.db,
    'charset': 'utf8'
}
db = MySQLdb.connect(**connect_datas) 

client = create_engine(f'mysql://{user.user}:{user.pw}@{user.host}/{user.db}?charset=utf8',encoding="utf-8")
conn = client.connect()

##news 데이터 sql에 집어넣기
news = pd.DataFrame(df)
news.columns=['Symbol', 'title', 'subtitle', 'link']
# # MYsqldb로 테이블 생성하기
sql = '''CREATE TABLE News ( 
Symbol varchar(5) NOT NULL, 
title varchar(200),
subtitle varchar(200),
link varchar(200),
FOREIGN KEY (Symbol) REFERENCES company(Symbol)
) 
''' 
# # cursor객체 생성후 쿼리 실행
curs = db.cursor()
curs.execute(sql)


nonmaker = querys[['symbol']]
nonmaker.columns = ['Symbol']
for column in ['title', 'subtitle', 'link']:
    nonmaker[column] = np.nan
news = pd.concat([nonmaker, nonmaker, nonmaker, nonmaker, nonmaker, news])
news.to_sql(name='News',con=client,if_exists='append',index=False)

## investing 데이터 집어넣기
investing_cr= pd.DataFrame(crawling_investings,columns=["Symbol", 'update_date', 'querter_sales','profit','operating' ,'real_profit','sales' ,'share' ,'next_update_date'])

# # MYsqldb로 테이블 생성하기
sql = '''CREATE TABLE Company_low ( 
Symbol varchar(5) NOT NULL, 
update_date date, 
querter_sales double,
profit double,
operating double,
real_profit double,
sales double,
shared double,
next_update_date date,
FOREIGN KEY (Symbol) REFERENCES company(Symbol)
) 
''' 
# # cursor객체 생성후 쿼리 실행
curs = db.cursor()
curs.execute(sql)
investing_cr.to_sql(name='Company_low',con=client,if_exists='append',index=False)

#if a == 1:
#    querys.to_csv('../datas/investing_query.csv', index=False)

NameError: name 'MySQLdb' is not defined

In [166]:
df

[{'symbol': 'MMM',
  'title': '‘11언더파’ 이경훈, PGA 3M 오픈 공동 6위로 마무리',
  'subtitle': 이경훈(30·CJ대한통운)이 미국프로골프(PGA) 투어 3M 오픈(총상금 660만달러)을 공동 6위로 마무리했다. 이경훈은 26일(한국시간) 미국 미네소타 블레인의 TPC 투윈 ...,
  'link': 'https://invst.ly/vj8bn'},
 {'symbol': 'MMM',
  'title': "스카치테이프, 포스트잇…모두 '3M' 발명품 [히든業스토리]",
  'subtitle': 스카치테이프, 포스트잇. 모두 문구점에서 흔히 볼 수 있는 필수 사무용품들이다. 하지만 이 두 제품 모두 특정 기업이 한 기업이 특허권을 가진 '고유 브랜드'라는 사실을 아는 사람...,
  'link': 'https://invst.ly/vf3l4'},
 {'symbol': 'MMM',
  'title': "'포스트잇' 발명한 美화학자 스펜서 실버 타계 '향년 80세'",
  'subtitle': '포스트잇'을 발명한 화학자 스펜서 실버가 별세했다. 향년 80세. 14일(현지시간) 워싱턴포스트에 따르면 3M은 실버가 지난 8일 미국 미네소타주 세인트폴에 있는 자택에서 숨졌다...,
  'link': 'https://invst.ly/ut2bp'},
 {'symbol': 'MMM',
  'title': "'신월여의지하도로' 대형차 잇단 끼임 사고…16일부터 과태료 부과",
  'subtitle': 서울시가 지난달 16일 개통한 '신월여의지하도로'에서 중·대형차들의 무리한 진입으로 인해 개통 후 현재까지 20건의 착오진입이 발생함에 따라 방지대책을 강화에 나섰다. 4일 서울시...,
  'link': 'https://invst.ly/uob92'},
 {'symbol': 'MMM',
  'title': '경제 캘린더 - 이번 주 주목해야 할 주요 이슈 5가지',
  'subtitle': Investing.com - 다양한 실적과 연준의 통화정책회의 개최로 변동성 높은 일주일이 예상된다.
  1분기 미국 경제 성장 데이터 발표도 예정되어 있다. 코로나19로 인한 타격에...,
  'link': 'https://kr.investing.com/news/economy/article-626042'},
 {'symbol': 'MMM',
  'title': '역사를 바꾼 30초·3m…인저뉴어티 비행 성공 막전막후',
  'subtitle': "30초, 3m의 비행이 역사를 바꿨다." 인류가 비행체로 외계 행성을 누비는 시대가 열렸다. 117년 전 지구에서 라이트 형제가 성공했던 '최초의 동력 비행'이 무대를 화성으로 ...,
  'link': 'https://invst.ly/uithf'},
 {'symbol': 'MMM',
  'title': '“3M-코카콜라 등 73개 기업서 청년인턴 뽑아요”',
  'subtitle': 서울시가 글로벌 기업이 참여하는 인턴 프로그램 ‘서울형 청년인턴 직무캠프’를 진행한다고 4일 밝혔다. 신종 코로나바이러스 감염증(코로나19)이 길어지면서 1년 넘게 이어지고 있는 ...,
  'link': 'https://invst.ly/ud0-o'},
 {'symbol': 'MMM',
  'title': '오늘의 주요 3가지 이슈: 애플, 페이스북, 연준 금리',
  'subtitle': By Liz Moyer
  Investing.com -- 폐장 후 마이크로소프트 (NASDAQ:MSFT)의 실적 발표로 투자자들이 대형 기업들의 발표를 기다리며 화요일 미국증시는 소폭...,
  'link': 'https://kr.investing.com/news/stock-market-news/article-572213'},
 {'symbol': 'MMM',
  'title': '오늘의 주요 3가지 이슈: 고용 데이터, 므누신, 소매 실적',
  'subtitle': By Christiana Sciaudone
  Investing.com -- 경기부양책과 코로나19 백신이 세간의 관심을 끌어모으며 월요일 약세를 보였던 증시가 빠르게 회복되었다.
  유...,
  'link': 'https://kr.investing.com/news/stock-market-news/article-537930'},
 {'symbol': 'MMM',
  'title': '7월 10일 주목해야 할 시장의 주요 이슈 3가지',
  'subtitle': By Christiana Sciaudone
  Investing.com -- 나스닥 종합지수가 이틀 연속 사상 최고치를 보이며 테크주에 대한 시장의 사랑을 증명했다.반면 다우존스 산업...,
  'link': 'https://kr.investing.com/news/stock-market-news/article-439124'},
 {'symbol': 'ABT',
  'title': '美애보트, 코로나 키트 수혜-의료기기사업 턴어라운드',
  'subtitle': [인포스탁데일리=안호현 전문기자] 애보트 래버러토리가(NYSE:ABT)( Abbott Laboratories , 이하 ‘애보트’)의 올해 4분기 호실적이 기대된다. 코로나19 진단...,
  'link': 'https://kr.investing.com/news/stock-market-news/article-538182'},
 {'symbol': 'ABT',
  'title': '오늘의 주요 3가지 이슈: 베이지북, 테슬라, 실적 발표',
  'subtitle': By Christiana Sciaudone
  Investing.com -- 낸시 펠로시 하원의장이 마감 시한 전에 부양책 협상을 타결할 수 있을 것이라는 긍정적인 태도를 보인 영향으...,
  'link': 'https://kr.investing.com/news/stock-market-news/article-508344'},
 {'symbol': 'ABT',
  'title': '8월 28일 주목해야 할 시장의 주요 이슈 3가지',
  'subtitle': By Christiana Sciaudone
  Investing.com -- 연준이 인플레이션에 대한 입장을 밝히면서 목요일 증시가 상승했다.
  제롬 파월(Jerome Powell) 의...,
  'link': 'https://kr.investing.com/news/stock-market-news/article-473956'},
 {'symbol': 'ABT',
  'title': '7월 16일 주목해야 할 시장의 주요 이슈 3가지',
  'subtitle': By Liz Moyer
  Investing.com -- 코로나19 백신 개발에 대한 기대감으로 증시가 상승하는 와중 대형 은행들도 기대 이상의 2분기 실적을 발표하고 있다.
  골드만삭...,
  'link': 'https://kr.investing.com/news/stock-market-news/article-442895'},
 {'symbol': 'ABT',
  'title': '4월 16일 주목해야 할 시장의 주요 이슈 3가지',
  'subtitle': By Kim Khan
  Investing.com - 사상 최악의 경제 데이터가 시선을 끄는 가운데 상승론자와 하락론자들의 충돌이 이어졌다.
  오늘은 고용 현황과 주택, 제조업 부문의 ...,
  'link': 'https://kr.investing.com/news/stock-market-news/article-384280'},
 {'symbol': 'ABT',
  'title': '경제 캘린더 - 이번 주 주목해야 할 주요 이슈 5가지',
  'subtitle': Investing.com - 투자자들은 국제통화기금(International Monetary Fund, IMF)의 글로벌 경제 전망 발표를 기다리고 있다. 이번 전망은 코로나19 ...,
  'link': 'https://kr.investing.com/news/economy/article-382863'},
 {'symbol': 'ABT',
  'title': '경제 캘린더 - 이번 주 주목해야 할 주요 이슈 5가지',
  'subtitle': Investing.com - 월스트리트의 1분기 어닝시즌이 시작되며, 이번 주 내내 테크, 금융과 소비재를 포함한 광범위한 범위에 속하는 십수개의 기업들이 실적을 발표할 전망이다....,
  'link': 'https://kr.investing.com/news/economy-news/article-168814'}]

In [170]:
news = pd.DataFrame(df)

In [174]:
news

,Symbol,title,subtitle,link
0,MMM,"‘11언더파’ 이경훈, PGA 3M 오픈 공동 6위로 마무리",[이경훈(30·CJ대한통운)이 미국프로골프(PGA) 투어 3M 오픈(총상금 660만...,https://invst.ly/vj8bn
1,MMM,"스카치테이프, 포스트잇…모두 '3M' 발명품 [히든業스토리]","[스카치테이프, 포스트잇. 모두 문구점에서 흔히 볼 수 있는 필수 사무용품들이다. ...",https://invst.ly/vf3l4
2,MMM,'포스트잇' 발명한 美화학자 스펜서 실버 타계 '향년 80세',['포스트잇'을 발명한 화학자 스펜서 실버가 별세했다. 향년 80세. 14일(현지시...,https://invst.ly/ut2bp
3,MMM,'신월여의지하도로' 대형차 잇단 끼임 사고…16일부터 과태료 부과,[서울시가 지난달 16일 개통한 '신월여의지하도로'에서 중·대형차들의 무리한 진입으...,https://invst.ly/uob92
4,MMM,경제 캘린더 - 이번 주 주목해야 할 주요 이슈 5가지,[Investing.com - 다양한 실적과 연준의 통화정책회의 개최로 변동성 높은...,https://kr.investing.com/news/economy/article-...
5,MMM,역사를 바꾼 30초·3m…인저뉴어티 비행 성공 막전막후,"[""30초, 3m의 비행이 역사를 바꿨다."" 인류가 비행체로 외계 행성을 누비는 시...",https://invst.ly/uithf
6,MMM,“3M-코카콜라 등 73개 기업서 청년인턴 뽑아요”,[서울시가 글로벌 기업이 참여하는 인턴 프로그램 ‘서울형 청년인턴 직무캠프’를 진행...,https://invst.ly/ud0-o
7,MMM,"오늘의 주요 3가지 이슈: 애플, 페이스북, 연준 금리",[By Liz Moyer\nInvesting.com -- 폐장 후 마이크로소프트 (...,https://kr.investing.com/news/stock-market-new...
8,MMM,"오늘의 주요 3가지 이슈: 고용 데이터, 므누신, 소매 실적",[By Christiana Sciaudone\nInvesting.com -- 경기부...,https://kr.investing.com/news/stock-market-new...
9,MMM,7월 10일 주목해야 할 시장의 주요 이슈 3가지,[By Christiana Sciaudone\nInvesting.com -- 나스닥...,https://kr.investing.com/news/stock-market-new...
10,ABT,"美애보트, 코로나 키트 수혜-의료기기사업 턴어라운드",[[인포스탁데일리=안호현 전문기자] 애보트 래버러토리가(NYSE:ABT)( Abbo...,https://kr.investing.com/news/stock-market-new...
11,ABT,"오늘의 주요 3가지 이슈: 베이지북, 테슬라, 실적 발표",[By Christiana Sciaudone\nInvesting.com -- 낸시 ...,https://kr.investing.com/news/stock-market-new...
12,ABT,8월 28일 주목해야 할 시장의 주요 이슈 3가지,[By Christiana Sciaudone\nInvesting.com -- 연준이...,https://kr.investing.com/news/stock-market-new...
13,ABT,7월 16일 주목해야 할 시장의 주요 이슈 3가지,[By Liz Moyer\nInvesting.com -- 코로나19 백신 개발에 대...,https://kr.investing.com/news/stock-market-new...
14,ABT,4월 16일 주목해야 할 시장의 주요 이슈 3가지,[By Kim Khan\nInvesting.com - 사상 최악의 경제 데이터가 시...,https://kr.investing.com/news/stock-market-new...
15,ABT,경제 캘린더 - 이번 주 주목해야 할 주요 이슈 5가지,[Investing.com - 투자자들은 국제통화기금(International Mo...,https://kr.investing.com/news/economy/article-...
16,ABT,경제 캘린더 - 이번 주 주목해야 할 주요 이슈 5가지,"[Investing.com - 월스트리트의 1분기 어닝시즌이 시작되며, 이번 주 내...",https://kr.investing.com/news/economy-news/art...

In [152]:
querys

    symbol                query  update_date
0      MMM                3m-co            0
1      ABT  abbott-laboratories            0
2     ABBV           abbvie-inc            0
3     ABMD              abiomed            0
4      ACN        accenture-ltd            0
..     ...                  ...          ...
500    YUM      yum!-brands-inc            0
501   ZBRA           zebra-tech            0
502    ZBH         zimmer-hldgs            0
503   ZION        zions-bancorp            0
504    ZTS           zoetis-inc            0

[505 rows x 3 columns]

In [150]:
querys['update_date'] = 0

In [153]:
querys.to_csv('../datas/investing_query.csv', index=False)

In [154]:
pd.read_csv('../datas/investing_query.csv')

    symbol                query  update_date
0      MMM                3m-co            0
1      ABT  abbott-laboratories            0
2     ABBV           abbvie-inc            0
3     ABMD              abiomed            0
4      ACN        accenture-ltd            0
..     ...                  ...          ...
500    YUM      yum!-brands-inc            0
501   ZBRA           zebra-tech            0
502    ZBH         zimmer-hldgs            0
503   ZION        zions-bancorp            0
504    ZTS           zoetis-inc            0

[505 rows x 3 columns]

In [93]:
    if today > update_date:
        [sales, shared, update_date]  = crawling_investing(query)
        time.sleep(0.5)
        dfs1, dfs2, dfs3, dfs4 = crawling_investing2(query)
        #dfs1 = crawling_investing2(query)
        for k in [sales, shared, update_date]:
            dfs1.append(k)
            dfs2.append(k)
            dfs3.append(k)
            dfs4.append(k)
        crawling_investings.append(dfs1)
        crawling_investings.append(dfs2)
        crawling_investings.append(dfs3)
        crawling_investings.append(dfs4)
        querys['update_date'][querys['symbol'] == symbol] = update_date

In [160]:
import datetime

In [163]:
datetime.timedelta

datetime.datetime(2021, 8, 2, 4, 51, 52, 394521)

In [94]:
crawling_investing2(query)

(['MMM', 210630, 8950.0, 4242.0, 1971.0, 1524.0],
 ['MMM', 210331, 8851.0, 4327.0, 1983.0, 1624.0],
 ['MMM', 201231, 8583.0, 4246.0, 1839.0, 1389.0],
 ['MMM', 200930, 8350.0, 4047.0, 1909.0, 1413.0])

In [88]:
querys.head(20)

   symbol                            query  update_date
0     MMM                            3m-co          0.0
1     ABT              abbott-laboratories     211019.0
2    ABBV                       abbvie-inc     211028.0
3    ABMD                          abiomed     211103.0
4     ACN                    accenture-ltd     210922.0
5    ATVI                   activision-inc     211103.0
6    ADBE                    adobe-sys-inc     210920.0
7     AMD                 adv-micro-device     211026.0
8     AAP               advance-auto-parts     211115.0
9     AES                         aes-corp     211110.0
10    AFL                        aflac-inc     211026.0
11      A                     agilent-tech     210817.0
12    APD                 air-prods---chem     210808.0
13   AKAM          akamai-technologies-inc     211101.0
14    ALK                       alaska-air     211027.0
15    ALB                        albemarle     211109.0
16    ARE  alexandria-real-estate-equities     211031.0
17   ALXN    alexion-pharmaceuticals,-inc.     211027.0
18   ALGN                 align-technology     211026.0
19   ALLE                  allegion-public     211027.0

In [73]:
        crawling_investings.append(dfs4)

In [74]:
crawling_investings

[['AES',
  210331,
  2635.0,
  664.0,
  166.0,
  -148.0,
  9960000000.0,
  666257334,
  210804],
 ['AES', 201231, 2560.0, 906.0, 771.0, 318.0, 9960000000.0, 666257334, 210804],
 ['AES',
  200930,
  2545.0,
  756.0,
  -292.0,
  -333.0,
  9960000000.0,
  666257334,
  210804],
 ['AES', 200630, 2217.0, 524.0, 423.0, -83.0, 9960000000.0, 666257334, 210804]]

In [60]:
dfs3

['AES', 200930, 2545.0, 756.0, -292.0, -333.0]

In [4]:
import sys
import time
import pandas as pd
from bs4 import BeautifulSoup
from datetime import datetime
import numpy as np
import requests
import time
import re

In [23]:
url = "https://kr.investing.com/equities/apple-computer-inc-news"

headers = {
    "User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/90.0.4430.212 Safari/537.36"}
response = requests.get(url, headers=headers)
if response.status_code >= 300:
    a = 1
    query = crawlingquery(symbol)
    querys['investing_query'][querys['symbol'] == symbol] = query
    url = f"https://kr.investing.com/equities/{query}-news"
    response = requests.get(url, headers=headers)
    if response.status_code >= 300:
        print(f'{symbol}의 서버가 응답하지 않습니다. 에러 코드 {response.status_code}')

dom = BeautifulSoup(response.content, "html.parser")
datas = dom.find_all(class_="textDiv")

In [28]:
df = []
symbol = 'AAPL'
for i in range(len(datas)):
    item = datas[i]
    try:
        text = item.select_one('.date').text
        date = re.findall('[0-9]{0,2} 시간 전', text)
    except:
        continue
    title = item.select_one(".title").get("title")

    
    if item.select_one(".title").get("href")[:8] != 'https://':
        link = 'https://kr.investing.com' + item.select_one(".title").get("href")
    else :
        link = item.select_one(".title").get("href")
    #if date != []:
        #df.append({'symbol': symbol, 'title': title,"link": link, 'date': date})
    df.append({'symbol': symbol, 'title': title,"link": link, 'date': date})
time.sleep(0.5)

In [43]:
title = item.select_one(".title").get("title")

In [46]:
pd.DataFrame(df)

,symbol,title,link,date
0,AAPL,,https://kr.investing.com/news/economy/article-...,[1 시간 전]
1,AAPL,,https://kr.investing.com/news/economy/article-...,[1 시간 전]
2,AAPL,,https://kr.investing.com/news/economy/article-...,[21 시간 전]
3,AAPL,,https://kr.investing.com/news/economy/article-...,[22 시간 전]
4,AAPL,구글 직원,https://kr.investing.com/news/economy/article-...,[]
5,AAPL,,https://kr.investing.com/news/economy/article-...,[]
6,AAPL,"게임株, ‘써머랠리’ 시동…신작 흥행·中 판호 ‘쌍끌이’",https://kr.investing.com/news/economy/article-...,[]
7,AAPL,"삼성·하이닉스, 외국에 디지털세 낸다",https://kr.investing.com/news/economy/article-...,[]
8,AAPL,구글·애플에 큰 타격…한국 稅收도 늘어날 듯,https://kr.investing.com/news/economy/article-...,[]
9,AAPL,"[0702퇴근길] 국민연금, 2년 수익률 10% 안팎…고수익률 배경은 외 경제금융뉴스",https://kr.investing.com/news/stock-market-new...,[]

In [44]:
title

'[0702퇴근길] 국민연금, 2년 수익률 10% 안팎…고수익률 배경은 외 경제금융뉴스'

In [41]:
BeautifulSoup(item.select_one('p').text, "html.parser")

[인포스탁데일리=원세영 에디터]
네이버 오디오클립과 인포스탁데일리가 전해드리는 7월 2일 퇴근길 써머리입니다.
▲코스피 3281.78 마감 (-0.01%)
코스피 지수는 전일보다 ...

In [33]:
#leftColumn > div.mediumTitle1 > article:nth-child(1) > div.textDiv > p

'[0702퇴근길] 국민연금, 2년 수익률 10% 안팎…고수익률 배경은 외 경제금융뉴스'

In [14]:
datas

[<div class="textDiv">
 <a '화제'="" 2030년쯤엔…"="" [김익환의="" class="title" href="/news/economy/article-660309" title="구글 직원 " 美="" 글="" 블라인드="" 비트코인="" 외환·금융="" 워치]"="">구글 직원 "비트코인 2030년쯤엔…" 美 블라인드 글 '화제' [김익환의 외환·금융 워치]</a>
 </div>,
 <div class="textDiv">
 <a 2030="" [김익환의="" class="title" href="/news/economy/article-660350" title="" 꼽은="" 바엔="" 살="" 외환·금융="" 워치]"="" 직장인이="" 차라리"…美="" 테슬라="" 톱픽은="">"테슬라 살 바엔 차라리"…美 2030 직장인이 꼽은 톱픽은 [김익환의 외환·금융 워치]</a>
 </div>,
 <div class="textDiv">
 <a '상장폐지'="" [류은혁의="" class="title" href="/news/economy/article-660349" title="" 기업분석실]"="" 내="" 설마="" 알아야="" 주식도="" 징후="" 할="" 휴지될까?"…꼭="">"설마 내 주식도 휴지될까?"…꼭 알아야 할 '상장폐지' 징후 [류은혁의 기업분석실]</a>
 </div>,
 <div class="textDiv">
 <a class="title" href="/analysis/article-200436699" title="7월 증시, 하반기 증시의 시작 : 마음 단단히 먹고 투자해야만 한다">7월 증시, 하반기 증시의 시작 : 마음 단단히 먹고 투자해야만 한다</a>
 </div>,
 <div class="textDiv">
 <a class="title" href="/analysis/article-200436707" title="6월 시장 요약: 금리 인상 우려에도 탄탄한 실적 보인 미국 증시">6월 시장 요약: 금리 인상 우려에도 탄탄한 실적 보인 미국 증시</a>
 </div>,
 <div class="textDiv">
 <a class="title" href="/analysis/article-200436688" title="마이크로소프트 최고치 경신, 투자하기는 너무 늦었을까?">마이크로소프트 최고치 경신, 투자하기는 너무 늦었을까?</a>
 </div>,
 <div class="js-news-item-name textDiv"></div>,
 <div class="textDiv">
 <a '지프="" [신차털기]"="" class="title" href="/news/economy/article-660351" suv="" title="" 것="" 레니게이드'="" 빼면="" 시체지"…여심="" 예쁜="" 잡은="">"예쁜 것 빼면 시체지"…여심 잡은 SUV '지프 레니게이드' [신차털기]</a>
 <span class="articleDetails"><span>부터 Hankyung</span><span class="date"> - 1 시간 전</span></span> <p>"예쁜 것 빼면 시체지. 감성으로 타는 차야."
 지프 레니게이드 차주의 얘기다. 며칠간 레니게이드를 몰아보니 그 말이 이해가 됐다. 4000만원대 차량이지만 비슷한 가격대 차량과 ...</p> </div>,
 <div class="textDiv">
 <a 2030="" [김익환의="" class="title" href="/news/economy/article-660350" title="" 꼽은="" 바엔="" 살="" 외환·금융="" 워치]"="" 직장인이="" 차라리"…美="" 테슬라="" 톱픽은="">"테슬라 살 바엔 차라리"…美 2030 직장인이 꼽은 톱픽은 [김익환의 외환·금융 워치]</a>
 <span class="articleDetails"><span>부터 Hankyung</span><span class="date"> - 1 시간 전</span></span> <p>
 ...</p> </div>,
 <div class="textDiv">
 <a 559억"="" [박신영의="" class="title" href="/news/economy/article-660322" title="" 말하면="" 어겼다간…'오싹'="" 우리="" 이름="" 일렉트로맨]"="" 조항="" 특이="">"우리 이름 말하면 559억" 특이 조항 어겼다간…'오싹' [박신영의 일렉트로맨]</a>
 <span class="articleDetails"><span>부터 Hankyung</span><span class="date"> - 21 시간 전</span>
 <a class="js-scrollto-comment commentsBubbleCnt" href="/news/economy/article-660322#comments"><i class="commentIcon"></i>1</a>
 </span> <p>
 ...</p> </div>,
 <div class="textDiv">
 <a [박신영의="" class="title" href="/news/economy/article-660318" title="" 누군지="" 발설하지마"="" 어겼다간…'오싹'="" 우리가="" 일렉트로맨]"="" 절대="" 조항="" 특이="">"우리가 누군지 절대 발설하지마" 특이 조항 어겼다간…'오싹' [박신영의 일렉트로맨]</a>
 <span class="articleDetails"><span>부터 Hankyung</span><span class="date"> - 22 시간 전</span>
 <a class="js-scrollto-comment commentsBubbleCnt" href="/news/economy/article-660318#comments"><i class="commentIcon"></i>1</a>
 </span> <p>
 ...</p> </div>,
 <div class="textDiv">
 <a '화제'="" 2030년쯤엔…"="" [김익환의="" class="title" href="/news/economy/article-660309" title="구글 직원 " 美="" 글="" 블라인드="" 비트코인="" 외환·금융="" 워치]"="">구글 직원 "비트코인 2030년쯤엔…" 美 블라인드 글 '화제' [김익환의 외환·금융 워치]</a>
 <span class="articleDetails"><span>부터 Hankyung</span><span class="date"> - 2021년 07월 03일</span>
 <a class="js-scrollto-comment commentsBubbleCnt" href="/news/economy/article-660309#comments"><i class="commentIcon"></i>8</a>
 </span> <p>
 ...</p> </div>,
 <div class="textDiv">
 <a 10만달러?"…美="" 1달러?="" 2030="" [김익환의="" class="title" href="/news/economy/article-660308" title="" 가치,="" 보니="" 비트코인="" 설문결과="" 외환·금융="" 워치]"="">"비트코인 가치, 1달러? 10만달러?"…美 2030 설문결과 보니 [김익환의 외환·금융 워치]</a>
 <span class="articleDetails"><span>부터 Hankyung</span><span class="date"> - 2021년 07월 03일</span>
 <a class="js-scrollto-comment commentsBubbleCnt" href="/news/economy/article-660308#comments"><i class="commentIcon"></i>1</a>
 </span> <p>
 ...</p> </div>,
 <div class="textDiv">
 <a class="title" href="/news/economy/article-660291" title="게임株, ‘써머랠리’ 시동…신작 흥행·中 판호 ‘쌍끌이’">게임株, ‘써머랠리’ 시동…신작 흥행·中 판호 ‘쌍끌이’</a>
 <span class="articleDetails"><span>부터 Economic Review</span><span class="date"> - 2021년 07월 03일</span>
 <a class="js-scrollto-comment commentsBubbleCnt" href="/news/economy/article-660291#comments"><i class="commentIcon"></i>1</a>
 </span> <p>
 펄어비스 '검은사막 모바일'. 출처=펄어비스
 [이코노믹리뷰=노성인 기자] 최근 게임주(株)가 연일 상승세를 나타내고 있다. 전통적인 업계 대목인 방학·휴가시즌이 도래함과 ...</p> </div>,
 <div class="textDiv">
 <a class="title" href="/news/economy/article-660204" title="삼성·하이닉스, 외국에 디지털세 낸다">삼성·하이닉스, 외국에 디지털세 낸다</a>
 <span class="articleDetails"><span>부터 Hankyung</span><span class="date"> - 2021년 07월 02일</span></span> <p>
 ...</p> </div>,
 <div class="textDiv">
 <a class="title" href="/news/economy/article-660201" title="구글·애플에 큰 타격…한국 稅收도 늘어날 듯">구글·애플에 큰 타격…한국 稅收도 늘어날 듯</a>
 <span class="articleDetails"><span>부터 Hankyung</span><span class="date"> - 2021년 07월 02일</span>
 <a class="js-scrollto-comment commentsBubbleCnt" href="/news/economy/article-660201#comments"><i class="commentIcon"></i>1</a>
 </span> <p>디지털세 합의로 한국 정부는 향후 더 많은 세금을 걷을 수 있을 것으로 전망된다. 삼성전자 (KS:005930) 등이 국내에 내는 법인세가 조금 줄어들 수 있지만, 구글과 애플 (...</p> </div>,
 <div class="textDiv">
 <a class="title" href="/news/stock-market-news/article-660158" title="[0702퇴근길] 국민연금, 2년 수익률 10% 안팎…고수익률 배경은 외 경제금융뉴스">[0702퇴근길] 국민연금, 2년 수익률 10% 안팎…고수익률 배경은 외 경제금융뉴스</a>
 <span class="articleDetails"><span>부터 인포스탁데일리</span><span class="date"> - 2021년 07월 02일</span>
 <a class="js-scrollto-comment commentsBubbleCnt" href="/news/stock-market-news/article-660158#comments"><i class="commentIcon"></i>23</a>
 </span> <p>[인포스탁데일리=원세영 에디터]
 네이버 오디오클립과 인포스탁데일리가 전해드리는 7월 2일 퇴근길 써머리입니다.
 ▲코스피 3281.78 마감 (-0.01%)
 코스피 지수는 전일보다 ...</p> </div>]

In [40]:
df.s

,symbol,title,link,date
0,MMM,'포스트잇' 발명한 美화학자 스펜서 실버 타계 '향년 80세',https://kr.investing.comhttps://invst.ly/ut2bp,[]
1,MMM,'신월여의지하도로' 대형차 잇단 끼임 사고…16일부터 과태료 부과,https://kr.investing.comhttps://invst.ly/uob92,[]
2,MMM,경제 캘린더 - 이번 주 주목해야 할 주요 이슈 5가지,https://kr.investing.com/news/economy/article-...,[]
3,MMM,역사를 바꾼 30초·3m…인저뉴어티 비행 성공 막전막후,https://kr.investing.comhttps://invst.ly/uithf,[]
4,MMM,“3M-코카콜라 등 73개 기업서 청년인턴 뽑아요”,https://kr.investing.comhttps://invst.ly/ud0-o,[]
...,...,...,...,...
1626,YUM,오늘 주목해야 할 시장의 주요 이슈 3가지,https://kr.investing.com/news/stock-market-new...,[]
1627,ZBH,"짐머 바이오메트 Q1 실적, 수익 예상치를 넘어",https://kr.investing.com/news/article-631149,[]
1628,ZION,(BUZZ)美 은행주 하락...브렉시트에 美 금리인상 가능성 희박해져,https://kr.investing.com/news/economy-news/(bu...,[]
1629,ZTS,미국서 오랑우탄도 백신 맞아…동물용 첫 접종,https://kr.investing.comhttps://invst.ly/u1f4d,[]
1630,ZTS,'리틀 버핏'도 예상 못한 폭풍성장…반려동물株 1위 '조에티스' [자이앤트레터],https://kr.investing.comhttps://invst.ly/tqeyg,[]

In [24]:
querys

    symbol                query  update_date
0      MMM                3m-co     210726.0
1      ABT  abbott-laboratories     210720.0
2     ABBV           abbvie-inc     210722.0
3     ABMD              abiomed     210728.0
4      ACN        accenture-ltd     210922.0
..     ...                  ...          ...
500    YUM      yum!-brands-inc     210804.0
501   ZBRA           zebra-tech     210802.0
502    ZBH         zimmer-hldgs     210728.0
503   ZION        zions-bancorp     210718.0
504    ZTS           zoetis-inc     210718.0

[505 rows x 3 columns]

In [28]:
crawling_investings = pd.DataFrame(crawling_investings)

In [29]:
crawling_investings.columns = ['symbol', 'update_date', 'querter_sales', 'profit', 'operating', 'real_profit', 'sales', 'shared', 'next_update_date']

In [31]:
crawling_investings.to_csv('../datas/crawling_investing.csv', index=False)

In [ ]:
a

In [ ]:
import pandas as pd
import FinanceDataReader as fdr
import numpy as np
from flask import *
app = Flask(__name__)

def stock_code(val):
    df_sp500 = fdr.StockListing('sp500')
    symbol = df_sp500[df_sp500['Symbol']==val]
    name = symbol.iloc[0,0]
    return name

stock_code('AAPL')
df = fdr.DataReader(stock_code('AAPL'), '2021')

@app.route('/')

@app.route('/home')
def home():
    return "hello worldddddd!"

@app.route('/stock')
def stock():
    return df


if __name__ == '__main__':
    app.run()

In [ ]:
def stock_code(val):
    df_sp500 = fdr.StockListing('sp500')
    symbol = df_sp500[df_sp500['Symbol']==val]
    name = symbol.iloc[0,0]
    return name

stock_code('AAPL')
df = fdr.DataReader(stock_code('AAPL'), '2021')
df

In [ ]:
app = Flask(__name__)

@app.route('/')

@app.route('/home')
def home():
    return "hello worldddddd!"

@app.route('/stock')
def stock_code(val):
    df_sp500 = fdr.StockListing('sp500')
    symbol = df_sp500[df_sp500['Symbol']==val]
    name = symbol.iloc[0,0]
    return name

def stock():
    stock_code('AAPL')
    df = fdr.DataReader(stock_code('AAPL'), '2021')
    df.to_html()


if __name__ == '__main__':
    app.run()

In [1]:
import sys

In [2]:
mod = sys.modules[__name__]

In [7]:
a = 'AAPL'

In [5]:
def getattr(mod, a)(t): 
    return t+1

SyntaxError: invalid syntax (<ipython-input-5-01179d2ff3cb>, line 1)

In [8]:
getattr(mod, a)

AttributeError: module '__main__' has no attribute 'AAPL'