In [1]:
import pandas as pd
import FinanceDataReader as fdr
import numpy as np
from datetime import datetime, timedelta
import time

In [2]:
symbol_list = ["MMM","ABT","ABBV","ABMD","ACN","ATVI","ADBE","AMD","AAP",\
               "AES","AFL","A","APD","AKAM","ALK","ALB","ARE","ALXN","ALGN",\
               "ALLE","LNT","ALL","GOOGL","GOOG","MO","AMZN","AMCR","AEE","AAL",\
               "AEP","AXP","AIG","AMT","AWK","AMP","ABC","AME","AMGN","APH","ADI",\
               "ANSS","ANTM","AON","AOS","APA","AAPL","AMAT","APTV","ADM","ANET","AJG",\
               "AIZ","T","ATO","ADSK","ADP","AZO","AVB","AVY","BKR","BLL","BAC","BK","BAX",\
               "BDX","BRKB","BBY","BIO","BIIB","BLK","BA","BKNG","BWA","BXP","BSX","BMY","AVGO",\
               "BR","BFB","CHRW","COG","CDNS","CZR","CPB","COF","CAH","KMX","CCL","CARR","CTLT","CAT"\
               ,"CBOE","CBRE","CDW","CE","CNC","CNP","CERN","CF","CRL","SCHW","CHTR","CVX","CMG","CB","CHD",\
               "CI","CINF","CTAS","CSCO","C","CFG","CTXS","CLX","CME","CMS","KO","CTSH","CL","CMCSA","CMA","CAG",\
               "COP","ED","STZ","COO","CPRT","GLW","CTVA","COST","CCI","CSX","CMI","CVS","DHI","DHR","DRI","DVA","DE",\
               "DAL","XRAY","DVN","DXCM","FANG","DLR","DFS","DISCA","DISCK","DISH","DG","DLTR","D","DPZ","DOV","DOW","DTE",\
               "DUK","DRE","DD","DXC","EMN","ETN","EBAY","ECL","EIX","EW","EA","EMR","ENPH","ETR","EOG","EFX","EQIX","EQR","ESS",\
               "EL","ETSY","EVRG","ES","RE","EXC","EXPE","EXPD","EXR","XOM","FFIV","FB","FAST","FRT","FDX","FIS","FITB","FE","FRC",\
               "FISV","FLT","FMC","F","FTNT","FTV","FBHS","FOXA","FOX","BEN","FCX","GPS","GRMN","IT","GNRC","GD","GE","GIS","GM","GPC",\
               "GILD","GL","GPN","GS","GWW","HAL","HBI","HIG","HAS","HCA","PEAK","HSIC","HSY","HES","HPE","HLT","HFC","HOLX","HD","HON",\
               "HRL","HST","HWM","HPQ","HUM","HBAN","HII","IEX","IDXX","INFO","ITW","ILMN","INCY","IR","INTC","ICE","IBM","IP","IPG","IFF",\
               "INTU","ISRG","IVZ","IPGP","IQV","IRM","JKHY","J","JBHT","SJM","JNJ","JCI","JPM","JNPR","KSU","K","KEY","KEYS","KMB","KIM","KMI",\
               "KLAC","KHC","KR","LB","LHX","LH","LRCX","LW","LVS","LEG","LDOS","LEN","LLY","LNC","LIN","LYV","LKQ","LMT","L","LOW","LUMN","LYB",\
               "MTB","MRO","MPC","MKTX","MAR","MMC","MLM","MAS","MA","MKC","MXIM","MCD","MCK","MDT","MRK","MET","MTD","MGM","MCHP","MU","MSFT","MAA",\
               "MHK","TAP","MDLZ","MPWR","MNST","MCO","MS","MOS","MSI","MSCI","NDAQ","NTAP","NFLX","NWL","NEM","NWSA","NWS","NEE","NLSN","NKE","NI","NSC",\
               "NTRS","NOC","NLOK","NCLH","NOV","NRG","NUE","NVDA","NVR","NXPI","ORLY","OXY","ODFL","OMC","OKE","ORCL","OTIS","PCAR","PKG","PH","PAYX","PAYC",\
               "PYPL","PENN","PNR","PBCT","PEP","PKI","PRGO","PFE","PM","PSX","PNW","PXD","PNC","POOL","PPG","PPL","PFG","PG","PGR","PLD","PRU","PTC","PEG","PSA",\
               "PHM","PVH","QRVO","PWR","QCOM","DGX","RL","RJF","RTX","O","REG","REGN","RF","RSG","RMD","RHI","ROK","ROL","ROP","ROST","RCL","SPGI","CRM","SBAC",\
               "SLB","STX","SEE","SRE","NOW","SHW","SPG","SWKS","SNA","SO","LUV","SWK","SBUX","STT","STE","SYK","SIVB","SYF","SNPS","SYY","TMUS","TROW","TTWO","TPR",\
               "TGT","TEL","TDY","TFX","TER","TSLA","TXN","TXT","TMO","TJX","TSCO","TT","TDG","TRV","TRMB","TFC","TWTR","TYL","TSN","UDR","ULTA","USB","UAA","UA","UNP",\
               "UAL","UNH","UPS","URI","UHS","UNM","VLO","VTR","VRSN","VRSK","VZ","VRTX","VFC","VIAC","VTRS","V","VNO","VMC","WRB","WAB","WMT","WBA","DIS","WM","WAT","WEC",\
               "WFC","WELL","WST","WDC","WU","WRK","WY","WHR","WMB","WLTW","WYNN","XEL","XLNX","XYL","YUM","ZBRA","ZBH","ZION","ZTS","US500"]

In [3]:
%%time
start = time.time() # 시작시간 저장
yesterday = datetime.today() - timedelta(1)

apple = fdr.DataReader("AAPL",start="2021-07-30", end="2021-07-30") # fdr 기존 양식에 symbol_list를 추가하기 위해 base_table 생성
apple

dfs = apple
dfs['Symbol'] = "AAPL"

symbol_list

for i in symbol_list: # apple data frame에 symbol_list 추가작업 진행
    data = fdr.DataReader(i, start="2021-07-30", end="2021-07-30")
    df = pd.DataFrame(data)
    df['Symbol'] = i
    dfs = pd.concat([df,dfs])

dfs = dfs[['Symbol', 'Close', "Open", "High", "Low", "Volume", "Change"]]
dfs = dfs.reset_index() # reset_index()를 사용해 date column에 위치하게 정렬
dfs = dfs.drop_duplicates(['Symbol', 'Close', "Open", "High", "Low", "Volume", "Change"]) # 상단에 생성한 중복된 apple 정보 삭제
print(dfs)
print("time :", time.time() - start) # 현재시각 - 시작시간 = 실행시간

         index Symbol    Close     Open     High      Low     Volume  Change
0   2021-07-30  US500  4395.26  4395.12  4412.25  4389.65        0.0 -0.0054
1   2021-07-30    ZTS   202.70   202.46   204.20   202.23  2430000.0 -0.0070
2   2021-07-30   ZION    52.15    52.75    53.50    52.01  1280000.0 -0.0131
3   2021-07-30    ZBH   163.42   162.79   164.98   162.41  1120000.0  0.0042
4   2021-07-30   ZBRA   552.48   545.30   554.22   544.60   250100.0  0.0080
..         ...    ...      ...      ...      ...      ...        ...     ...
500 2021-07-30    ACN   317.68   317.71   319.18   316.90  2310000.0 -0.0021
501 2021-07-30   ABMD   327.14   324.81   330.00   324.40   102670.0  0.0072
502 2021-07-30   ABBV   116.30   119.00   119.15   116.12  9020000.0 -0.0216
503 2021-07-30    ABT   120.98   121.00   121.42   120.40  4690000.0 -0.0009
504 2021-07-30    MMM   197.94   198.00   199.24   197.20  1910000.0 -0.0012

[505 rows x 8 columns]
time : 357.17770195007324
CPU times: user 34.4 s, sys: 1.84 s, total: 36.2 s
Wall time: 5min 57s

In [4]:
us_stock_basedata = pd.read_csv('./amount_to_be registered.csv') # frd에 없는 data csv로 import
us_stock_basedata

    Symbol  amount_to_be_registered
0      MMM                579675002
1      ABT               1776820148
2     ABBV               1766222336
3     ABMD                 45295979
4      ACN                665635732
..     ...                      ...
500    YUM                297901153
501   ZBRA                 53511255
502    ZBH                208482101
503   ZION                163815613
504    ZTS                474973405

[505 rows x 2 columns]

In [5]:
daily = pd.merge(dfs,us_stock_basedata, how='left', on='Symbol') # frd와 csv merge 작업 기준은 symbol로 잡아 왼쪽으로 정렬
daily

,index,Symbol,Close,Open,High,Low,Volume,Change,amount_to_be_registered
0,2021-07-30,US500,4395.26,4395.12,4412.25,4389.65,0.0,-0.0054,NaN
1,2021-07-30,ZTS,202.70,202.46,204.20,202.23,2430000.0,-0.0070,4.749734e+08
2,2021-07-30,ZION,52.15,52.75,53.50,52.01,1280000.0,-0.0131,1.638156e+08
3,2021-07-30,ZBH,163.42,162.79,164.98,162.41,1120000.0,0.0042,2.084821e+08
4,2021-07-30,ZBRA,552.48,545.30,554.22,544.60,250100.0,0.0080,5.351126e+07
...,...,...,...,...,...,...,...,...,...
500,2021-07-30,ACN,317.68,317.71,319.18,316.90,2310000.0,-0.0021,6.656357e+08
501,2021-07-30,ABMD,327.14,324.81,330.00,324.40,102670.0,0.0072,4.529598e+07
502,2021-07-30,ABBV,116.30,119.00,119.15,116.12,9020000.0,-0.0216,1.766222e+09
503,2021-07-30,ABT,120.98,121.00,121.42,120.40,4690000.0,-0.0009,1.776820e+09
504,2021-07-30,MMM,197.94,198.00,199.24,197.20,1910000.0,-0.0012,5.796750e+08

In [6]:
daily["market_capitalization"] = daily["Close"]*daily["amount_to_be_registered"]
daily

,index,Symbol,Close,Open,High,Low,Volume,Change,amount_to_be_registered,market_capitalization
0,2021-07-30,US500,4395.26,4395.12,4412.25,4389.65,0.0,-0.0054,NaN,NaN
1,2021-07-30,ZTS,202.70,202.46,204.20,202.23,2430000.0,-0.0070,4.749734e+08,9.627711e+10
2,2021-07-30,ZION,52.15,52.75,53.50,52.01,1280000.0,-0.0131,1.638156e+08,8.542984e+09
3,2021-07-30,ZBH,163.42,162.79,164.98,162.41,1120000.0,0.0042,2.084821e+08,3.407014e+10
4,2021-07-30,ZBRA,552.48,545.30,554.22,544.60,250100.0,0.0080,5.351126e+07,2.956390e+10
...,...,...,...,...,...,...,...,...,...,...
500,2021-07-30,ACN,317.68,317.71,319.18,316.90,2310000.0,-0.0021,6.656357e+08,2.114592e+11
501,2021-07-30,ABMD,327.14,324.81,330.00,324.40,102670.0,0.0072,4.529598e+07,1.481813e+10
502,2021-07-30,ABBV,116.30,119.00,119.15,116.12,9020000.0,-0.0216,1.766222e+09,2.054117e+11
503,2021-07-30,ABT,120.98,121.00,121.42,120.40,4690000.0,-0.0009,1.776820e+09,2.149597e+11
504,2021-07-30,MMM,197.94,198.00,199.24,197.20,1910000.0,-0.0012,5.796750e+08,1.147409e+11

In [8]:
daily.to_csv('daily_210730.csv')