In [1]:
import pandas as pd
import FinanceDataReader as fdr
import numpy as np
from datetime import datetime, timedelta
import time

In [2]:
symbol_list = ["MMM","ABT","ABBV","ABMD","ACN","ATVI","ADBE","AMD","AAP",\
               "AES","AFL","A","APD","AKAM","ALK","ALB","ARE","ALXN","ALGN",\
               "ALLE","LNT","ALL","GOOGL","GOOG","MO","AMZN","AMCR","AEE","AAL",\
               "AEP","AXP","AIG","AMT","AWK","AMP","ABC","AME","AMGN","APH","ADI",\
               "ANSS","ANTM","AON","AOS","APA","AAPL","AMAT","APTV","ADM","ANET","AJG",\
               "AIZ","T","ATO","ADSK","ADP","AZO","AVB","AVY","BKR","BLL","BAC","BK","BAX",\
               "BDX","BRKB","BBY","BIO","BIIB","BLK","BA","BKNG","BWA","BXP","BSX","BMY","AVGO",\
               "BR","BFB","CHRW","COG","CDNS","CZR","CPB","COF","CAH","KMX","CCL","CARR","CTLT","CAT"\
               ,"CBOE","CBRE","CDW","CE","CNC","CNP","CERN","CF","CRL","SCHW","CHTR","CVX","CMG","CB","CHD",\
               "CI","CINF","CTAS","CSCO","C","CFG","CTXS","CLX","CME","CMS","KO","CTSH","CL","CMCSA","CMA","CAG",\
               "COP","ED","STZ","COO","CPRT","GLW","CTVA","COST","CCI","CSX","CMI","CVS","DHI","DHR","DRI","DVA","DE",\
               "DAL","XRAY","DVN","DXCM","FANG","DLR","DFS","DISCA","DISCK","DISH","DG","DLTR","D","DPZ","DOV","DOW","DTE",\
               "DUK","DRE","DD","DXC","EMN","ETN","EBAY","ECL","EIX","EW","EA","EMR","ENPH","ETR","EOG","EFX","EQIX","EQR","ESS",\
               "EL","ETSY","EVRG","ES","RE","EXC","EXPE","EXPD","EXR","XOM","FFIV","FB","FAST","FRT","FDX","FIS","FITB","FE","FRC",\
               "FISV","FLT","FMC","F","FTNT","FTV","FBHS","FOXA","FOX","BEN","FCX","GPS","GRMN","IT","GNRC","GD","GE","GIS","GM","GPC",\
               "GILD","GL","GPN","GS","GWW","HAL","HBI","HIG","HAS","HCA","PEAK","HSIC","HSY","HES","HPE","HLT","HFC","HOLX","HD","HON",\
               "HRL","HST","HWM","HPQ","HUM","HBAN","HII","IEX","IDXX","INFO","ITW","ILMN","INCY","IR","INTC","ICE","IBM","IP","IPG","IFF",\
               "INTU","ISRG","IVZ","IPGP","IQV","IRM","JKHY","J","JBHT","SJM","JNJ","JCI","JPM","JNPR","KSU","K","KEY","KEYS","KMB","KIM","KMI",\
               "KLAC","KHC","KR","LB","LHX","LH","LRCX","LW","LVS","LEG","LDOS","LEN","LLY","LNC","LIN","LYV","LKQ","LMT","L","LOW","LUMN","LYB",\
               "MTB","MRO","MPC","MKTX","MAR","MMC","MLM","MAS","MA","MKC","MXIM","MCD","MCK","MDT","MRK","MET","MTD","MGM","MCHP","MU","MSFT","MAA",\
               "MHK","TAP","MDLZ","MPWR","MNST","MCO","MS","MOS","MSI","MSCI","NDAQ","NTAP","NFLX","NWL","NEM","NWSA","NWS","NEE","NLSN","NKE","NI","NSC",\
               "NTRS","NOC","NLOK","NCLH","NOV","NRG","NUE","NVDA","NVR","NXPI","ORLY","OXY","ODFL","OMC","OKE","ORCL","OTIS","PCAR","PKG","PH","PAYX","PAYC",\
               "PYPL","PENN","PNR","PBCT","PEP","PKI","PRGO","PFE","PM","PSX","PNW","PXD","PNC","POOL","PPG","PPL","PFG","PG","PGR","PLD","PRU","PTC","PEG","PSA",\
               "PHM","PVH","QRVO","PWR","QCOM","DGX","RL","RJF","RTX","O","REG","REGN","RF","RSG","RMD","RHI","ROK","ROL","ROP","ROST","RCL","SPGI","CRM","SBAC",\
               "SLB","STX","SEE","SRE","NOW","SHW","SPG","SWKS","SNA","SO","LUV","SWK","SBUX","STT","STE","SYK","SIVB","SYF","SNPS","SYY","TMUS","TROW","TTWO","TPR",\
               "TGT","TEL","TDY","TFX","TER","TSLA","TXN","TXT","TMO","TJX","TSCO","TT","TDG","TRV","TRMB","TFC","TWTR","TYL","TSN","UDR","ULTA","USB","UAA","UA","UNP",\
               "UAL","UNH","UPS","URI","UHS","UNM","VLO","VTR","VRSN","VRSK","VZ","VRTX","VFC","VIAC","VTRS","V","VNO","VMC","WRB","WAB","WMT","WBA","DIS","WM","WAT","WEC",\
               "WFC","WELL","WST","WDC","WU","WRK","WY","WHR","WMB","WLTW","WYNN","XEL","XLNX","XYL","YUM","ZBRA","ZBH","ZION","ZTS","US500"]

In [3]:

%%time
start = time.time() # 시작시간 저장
yesterday = datetime.today() - timedelta(1)

apple = fdr.DataReader("AAPL",yesterday) # fdr 기존 양식에 symbol_list를 추가하기 위해 base_table 생성
apple

dfs = apple
dfs['Symbol'] = "AAPL"

symbol_list

for i in symbol_list: # apple data frame에 symbol_list 추가작업 진행
    data = fdr.DataReader(i, yesterday)
    df = pd.DataFrame(data)
    df['Symbol'] = i
    dfs = pd.concat([df,dfs])

dfs = dfs[['Symbol', 'Close', "Open", "High", "Low", "Volume", "Change"]]
dfs = dfs.reset_index() # reset_index()를 사용해 date column에 위치하게 정렬
dfs = dfs.drop_duplicates() # 상단에 생성한 중복된 apple 정보 삭제
print(dfs)
print("time :", time.time() - start) # 현재시각 - 시작시간 = 실행시간

          Date Symbol    Close     Open     High      Low      Volume  Change
0   2021-06-24  US500  4266.49  4256.97  4271.28  4256.97         0.0  0.0058
1   2021-06-24    ZTS   185.38   186.30   187.34   185.00   1690000.0 -0.0040
2   2021-06-24   ZION    54.21    52.87    54.43    52.87   1350000.0  0.0201
3   2021-06-24    ZBH   164.39   165.04   165.37   163.62   1090000.0 -0.0005
4   2021-06-24   ZBRA   510.39   505.31   511.29   501.50    258470.0  0.0149
..         ...    ...      ...      ...      ...      ...         ...     ...
502 2021-06-24   ABMD   311.81   322.30   324.54   310.85    366780.0 -0.0307
503 2021-06-24   ABBV   114.74   114.32   116.18   114.30   7710000.0  0.0065
504 2021-06-24    ABT   111.70   111.41   113.47   111.41   9720000.0  0.0078
505 2021-06-24    MMM   193.26   193.39   193.74   191.64   2190000.0  0.0047
506 2021-06-24   AAPL   133.41   134.45   134.51   132.94  68710000.0 -0.0022

[507 rows x 8 columns]
time : 724.3334293365479
CPU times: user 1min 13s, sys: 3.7 s, total: 1min 17s
Wall time: 12min 4s

In [10]:
us_stock_basedata = pd.read_csv('./amount_to_be registered.csv') # frd에 없는 data csv로 import
us_stock_basedata

    Symbol  amount to be registered
0      MMM                579675002
1      ABT               1776820148
2     ABBV               1766222336
3     ABMD                 45295979
4      ACN                665635732
..     ...                      ...
500    YUM                297901153
501   ZBRA                 53511255
502    ZBH                208482101
503   ZION                163815613
504    ZTS                474973405

[505 rows x 2 columns]

In [12]:
daily = pd.merge(dfs,us_stock_basedata, how='left', on='Symbol') # frd와 csv merge 작업 기준은 symbol로 잡아 왼쪽으로 정렬
daily

,Date,Symbol,Close,Open,High,Low,Volume,Change,amount to be registered
0,2021-06-24,US500,4266.49,4256.97,4271.28,4256.97,0.0,0.0058,NaN
1,2021-06-24,ZTS,185.38,186.30,187.34,185.00,1690000.0,-0.0040,4.749734e+08
2,2021-06-24,ZION,54.21,52.87,54.43,52.87,1350000.0,0.0201,1.638156e+08
3,2021-06-24,ZBH,164.39,165.04,165.37,163.62,1090000.0,-0.0005,2.084821e+08
4,2021-06-24,ZBRA,510.39,505.31,511.29,501.50,258470.0,0.0149,5.351126e+07
...,...,...,...,...,...,...,...,...,...
501,2021-06-24,ACN,291.56,297.15,297.35,289.66,3000000.0,0.0205,6.656357e+08
502,2021-06-24,ABMD,311.81,322.30,324.54,310.85,366780.0,-0.0307,4.529598e+07
503,2021-06-24,ABBV,114.74,114.32,116.18,114.30,7710000.0,0.0065,1.766222e+09
504,2021-06-24,ABT,111.70,111.41,113.47,111.41,9720000.0,0.0078,1.776820e+09
505,2021-06-24,MMM,193.26,193.39,193.74,191.64,2190000.0,0.0047,5.796750e+08

In [13]:
daily["market capitalization"] = daily["Close"]*daily["amount to be registered"]
daily

,Date,Symbol,Close,Open,High,Low,Volume,Change,amount to be registered,market capitalization
0,2021-06-24,US500,4266.49,4256.97,4271.28,4256.97,0.0,0.0058,NaN,NaN
1,2021-06-24,ZTS,185.38,186.30,187.34,185.00,1690000.0,-0.0040,4.749734e+08,8.805057e+10
2,2021-06-24,ZION,54.21,52.87,54.43,52.87,1350000.0,0.0201,1.638156e+08,8.880444e+09
3,2021-06-24,ZBH,164.39,165.04,165.37,163.62,1090000.0,-0.0005,2.084821e+08,3.427237e+10
4,2021-06-24,ZBRA,510.39,505.31,511.29,501.50,258470.0,0.0149,5.351126e+07,2.731161e+10
...,...,...,...,...,...,...,...,...,...,...
501,2021-06-24,ACN,291.56,297.15,297.35,289.66,3000000.0,0.0205,6.656357e+08,1.940728e+11
502,2021-06-24,ABMD,311.81,322.30,324.54,310.85,366780.0,-0.0307,4.529598e+07,1.412374e+10
503,2021-06-24,ABBV,114.74,114.32,116.18,114.30,7710000.0,0.0065,1.766222e+09,2.026564e+11
504,2021-06-24,ABT,111.70,111.41,113.47,111.41,9720000.0,0.0078,1.776820e+09,1.984708e+11
505,2021-06-24,MMM,193.26,193.39,193.74,191.64,2190000.0,0.0047,5.796750e+08,1.120280e+11

In [14]:
daily.to_csv('daily_210624.csv')