In [27]:
import pandas as pd
import FinanceDataReader as fdr
import numpy as np
from datetime import datetime, timedelta
import time

In [23]:
df_sp500 = fdr.StockListing('sp500') # fdr에서 제공하는 s&p500 기업 정보 출력

In [28]:
df_sp500.loc[505] = ['US500',"S&P500","None","None"]
df_sp500

,Symbol,Name,Sector,Industry
0,MMM,3M,Industrials,Industrial Conglomerates
1,ABT,Abbott Laboratories,Health Care,Health Care Equipment
2,ABBV,AbbVie,Health Care,Pharmaceuticals
3,ABMD,Abiomed,Health Care,Health Care Equipment
4,ACN,Accenture,Information Technology,IT Consulting & Other Services
...,...,...,...,...
501,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments
502,ZBH,Zimmer Biomet,Health Care,Health Care Equipment
503,ZION,Zions Bancorp,Financials,Regional Banks
504,ZTS,Zoetis,Health Care,Pharmaceuticals
505,US500,S&P500,None,None

In [29]:
us_stock_basedata = pd.read_csv('./us_stock_basedata.csv') # frd에 없는 data csv로 import
us_stock_basedata

    Symbol  Founded Date first added    Headquarters Location
0      MMM     1902         1976.8.9      St. Paul, Minnesota
1      ABT     1888        1964.3.31  North Chicago, Illinois
2     ABBV     2013       2012.12.31  North Chicago, Illinois
3     ABMD     1981        2018.5.31   Danvers, Massachusetts
4      ACN     1989         2011.7.6          Dublin, Ireland
..     ...      ...              ...                      ...
501   ZBRA     1969       2019.12.23   Lincolnshire, Illinois
502    ZBH     1927         2001.8.7          Warsaw, Indiana
503   ZION     1873        2001.6.22     Salt Lake City, Utah
504    ZTS     1952        2013.6.21   Parsippany, New Jersey
505  US500     1957        1957.2.27       New York, New York

[506 rows x 4 columns]

In [30]:
company = pd.merge(df_sp500,us_stock_basedata, how='left', on='Symbol') # frd와 csv merge 작업 기준은 symbol로 잡아 왼쪽으로 정렬
company

,Symbol,Name,Sector,Industry,Founded,Date first added,Headquarters Location
0,MMM,3M,Industrials,Industrial Conglomerates,1902.0,1976.8.9,"St. Paul, Minnesota"
1,ABT,Abbott Laboratories,Health Care,Health Care Equipment,1888.0,1964.3.31,"North Chicago, Illinois"
2,ABBV,AbbVie,Health Care,Pharmaceuticals,2013.0,2012.12.31,"North Chicago, Illinois"
3,ABMD,Abiomed,Health Care,Health Care Equipment,1981.0,2018.5.31,"Danvers, Massachusetts"
4,ACN,Accenture,Information Technology,IT Consulting & Other Services,1989.0,2011.7.6,"Dublin, Ireland"
...,...,...,...,...,...,...,...
501,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments,1969.0,2019.12.23,"Lincolnshire, Illinois"
502,ZBH,Zimmer Biomet,Health Care,Health Care Equipment,1927.0,2001.8.7,"Warsaw, Indiana"
503,ZION,Zions Bancorp,Financials,Regional Banks,1873.0,2001.6.22,"Salt Lake City, Utah"
504,ZTS,Zoetis,Health Care,Pharmaceuticals,1952.0,2013.6.21,"Parsippany, New Jersey"
505,US500,S&P500,None,None,1957.0,1957.2.27,"New York, New York"

In [31]:
company.to_csv('company_210624.csv')